*{
    margin: 0 auto 0 auto;
    text-align:left;
}

body {
	padding: 0;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
    background: #dfd4c3
}

legend {
    margin:auto;
}

fieldset {
	border-radius: 25px;
}

#container{
    width:960px
}

#logo {
	display:inline;
	float:left;
	height: 100px;
    width: 150px;
    background-color: black;
}

#global_nav{
    float:left;
    height: 100px;
    width: 810px;
    background-color: #4d1717;
}

.hidden {
    visibility:hidden;
}

nav {
    margin-top: 40px;
    width: 810px;
}

#global_nav nav a {
    display: inline;
    color: #ffffffff;
    font-size:15px;
    font-weight: bold;
    padding: 42px 13px 42px 12px;
    list-style: outside none none;
    width: 810px;
}

#global_nav nav a:link {
    color: #FFFFFF;
    text-decoration:none;
}

#global_nav nav a:hover {
    color: #4d1717;
    text-decoration: none;
    background-color: #dfd4c3;
}

#global_nav nav a:visited {
    color: cornflowerblue;
}

#side_nav_left{
	clear:both;
	float: left;
	display:inline;
    height: 800px;
    width: 150px;
    background-color: #ae9c7f;
}

#content_container {
    height: 550px;
    width: 650px;
    background-color: antiquewhite;
}

#carousel {
	margin: 0 30px 0 30px;
    height: 250px;
    width: 600px;
    background-color: black;
}

#content {
    float: left;
    height: 800px;
    width: 650px;
    margin: 0 5px 0 5px;
    background-color: antiquewhite;
}

#side_nav_right{
    float: left;
    display:inline;
    height: 800px;
    width: 150px;
    background-color: #ae9c7f;
}

#footer{
	clear: both;
    width:inherit;
	height:auto;
    background-color: #9c8968;
}

.form_required {
    color: red;
}