*{
    margin: 0 auto 0 auto;
}

body {
	padding: 0;
    text-align:left;
    font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #061C37;
    background: #dfd4c3
}

legend {
    margin:auto;
}

fieldset {
	border-radius: 25px;
}

a {
    text-decoration: none;
}


#navbar a{
    color:#dfd4c3;
}

#navbar a:hover {
    color: #4d1717;
    text-decoration: none;
    background-color: #dfd4c3;
}

#navbar nav a:visited {
    color: cornflowerblue;
}

#global_nav{
    margin-bottom: 0;
    width: auto;
    background-color: #4d1717;
}

#side_nav_left{
    height: 655px;
    padding-right:0;
    background-color: #ae9c7f;
    border-radius:10px;
}

#side_nav_left nav {
    padding: 0;
}

#side_nav_left h3 {
    color: #fff;
    padding: 15px 0 8px 0;
    border-bottom:#fff solid 2px;
    margin: 15px 20px 15px 20px;
    font-size:16px;
}

#side_nav_left nav li {
    list-style: none;
    font-size:16px;
    font-weight: bold;
    border-bottom: #fff 1px dashed;
    padding: 10px 20px 0 20px;
}

#side_nav_left nav a {

}

#side_nav_left nav a:link {
    color: #FFFFFF;
}

#side_nav_left nav li:hover {
    color: #dfd4c3;
    text-decoration: none;
    background-color: #4d1717;
}

#side_nav_leftnav a:visited {
    color: cornflowerblue;
}

#content_container {
    height: 350px;
    width: 650px;
    background-color: antiquewhite;
}

#carousel {
	margin: 0 30px 0 30px;
    height: 250px;
    width: 600px;
    background-color: black;
}

#content2 {
    padding-left: 10px;
    padding-right: 0;
    margin: 0 5px 0 5px;
    background-color: #FFF2DF;
    border-radius:10px;
}

#content2 h1 {
    margin: 0;
    padding-top:10px;
}

#content {
    float: left;
    width: 650px;
    margin: 0 5px 0 5px;
    background-color: antiquewhite;
    border-radius:10px;
}

#side_nav_right{
    height: 655px;
    padding-left:0;
    background-color: #ae9c7f;
    border-radius:10px;
    margin: 0 auto 0 auto;
}

#footer{
    clear:both;
    width:inherit;
	height:auto;
    background-color: #9c8968;
}

#join input[type="text"], input[type="email"], input[type="date"], select {
    margin-bottom: 10px
}

.form_required {
    color: red;
}

.hidden {
    visibility:hidden;
}

.gold { background-color: #ae9c7f; }
.gold-text { color:#ae9c7f;}
.blue-text { color: cornflowerblue}