*{
    margin: 0 auto 0 auto;
}

body {
	padding: 0;
    text-align:left;
    font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #061C37;
    background: #dfd4c3
}

legend {
    margin:auto;
}

fieldset {
	border-radius: 25px;
}

a {
    text-decoration: none;
}


#navbar a{
    color:#dfd4c3;
}

#navbar a:hover {
    color: #4d1717;
    text-decoration: none;
    background-color: #dfd4c3;
}

#navbar nav a:visited {
    color: cornflowerblue;
}

#global_nav{
    margin-bottom: 0;
    width: auto;
    background-color: #4d1717;
}

#side_nav_left{
    height: 655px;
    background-color: #ae9c7f;
    border-radius:10px;
    padding: 0;
}

#side_nav_left h3 {
    border-bottom:#fff solid 2px;
    color: #FFFFFF;
    text-align: center;
}

#side_nav_left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#side_nav_left li {
    list-style-type: none;
    padding: 4px;
    text-align: center;
}

#side_nav_left a:link {
    font-weight:bold;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

#side_nav_left li:hover, li:active {
    color: #dfd4c3;
    background-color: #4d1717;
}

#side_nav_leftnav a:visited {
    color: cornflowerblue;
}

#content_container {
    height: 350px;
    width: 650px;
    background-color: antiquewhite;
}

#carousel {
	margin: 0 30px 0 30px;
    height: 250px;
    width: 600px;
    background-color: black;
}

#content {
    background-color: #FFF2DF;
    border-radius:10px;
}


#side_nav_right{
    height: 655px;
    background-color: #ae9c7f;
    border-radius:10px;
    margin: 0 auto 0 auto;
}

#footer{
    clear:both;
    width:inherit;
	height:auto;
    background-color: #9c8968;
}

#join input[type="text"], input[type="email"], input[type="date"], select {
    margin-bottom: 10px
}

.form_required {
    color: red;
}

.hidden {
    visibility:hidden;
}

.gold { background-color: #ae9c7f; }
.gold-text { color:#ae9c7f;}
.blue-text { color: cornflowerblue}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}