body {
    background: #dfd4c3
}

legend {
    margin:auto;
}

fieldset {
	border-radius: 25px;
}

a {
    text-decoration: none;
}

.panel-primary {
    border-color: #4d1717;
}

.panel-primary > .panel-heading{
    background-color: #4d1717;
    border-color: #4d1717;
}

#projects .img-responsive {
    margin: 0 auto;
}

#footer{
    background-color: #9c8968;
    font-size:11px;
}

.dropdown-menu > li > a { color:white}
.features { text-align:center }
.features img { margin:0 auto 0 auto }
.hidden { visibility:hidden; }
.content { background-color: #FFF2DF; border-radius:10px; }

.maroon { background-color: #4d1717;}
.gold {background-color: #ae9c7f;}
.cornflowerblue {background-color: cornflowerblue;}
.blue-text { color: cornflowerblue}
.white-text { color: white}
.black-text { color: black}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/****** Global navigation ******/
#navbar a{
    color:#dfd4c3;
    background-color: #4d1717;
}


#navbar a:hover {
    color: #4d1717;
    text-decoration: none;
    background-color: #dfd4c3;
}

#navbar nav a:visited {
    color: cornflowerblue;
}

#navbar > ul > li > ul {
    background-color: #4d1717;
    text-decoration: none;
    color: #dfd4c3;
}

/****** Career ******/
.pill {
    border-radius:4px;
    color:white;
}

#bigCallout{
    text-align:center;
    border-radius:10px;
    color:#fff;
    margin-top:10px;
    background-color: cornflowerblue;
}

/****** Form input******/

#join input[type="text"], input[type="email"], input[type="date"], select {
    margin-bottom: 10px
}

.form_required {
    color: red;
}

/****** Login Modal ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow:0 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container #lm-user, #lm-password {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.loginmodal-container #lm-user:hover, #lm-password:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border:0;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-fb{
    color: #fff;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: #3b5998;
    text-decoration: none;
}

.loginmodal-fb:hover{
    text-decoration: none;
    color: #fff;
    background-color: #4d90fe;
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border:0;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container-forgot{
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

/****** Carousel ******/
#indexCarousel {
    margin: 30px auto 0 auto;
    width: 80%;
}

#indexCarousel .item {
    height: 500px;
}

/* Small devices (tablets, 692px and up) */
@media (min-width: 692px)and (max-width: 893px) {
    #slide1 { background: url('../images/club_small.jpg') no-repeat scroll center center; }
    #slide2 { background: url('../images/event_small.jpg') no-repeat scroll center center; }
    #slide3 { background: url('../images/project_small.jpg') no-repeat scroll center center;}
    .carousel-caption {font-size:16px}
    .carousel-caption h4 {font-size:22px}
    #indexCarousel .item { height: 300px; }
}

/* Medium devices (desktops, 893px and up) */
@media (min-width: 893px) and (max-width: 1080px) {
    #slide1 { background: url('../images/club_medium.jpg') no-repeat scroll center center; }
    #slide2 { background: url('../images/event_medium.jpg') no-repeat scroll center center; }
    #slide3 { background: url('../images/project_medium.jpg') no-repeat scroll center center; }
    .carousel-caption { font-size:20px }
    .carousel-caption h4 { font-size:27px }
    #indexCarousel .item { height:400px; }
}

/* Large devices (large desktops, 1080px and up) */
@media (min-width: 1080px){
    #slide1 { background: url('../images/club_large.jpg') no-repeat scroll center center;}
    #slide2 { background: url('../images/event_large.jpg') no-repeat scroll center center;}
    #slide3 { background: url('../images/project_large.jpg') no-repeat scroll center center;}
    .carousel-caption { font-size:24px }
    .carousel-caption h4 { font-size:32px }
}