{% extends 'template.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<section>
    <h1>About Us</h1>
    <p>We are the Computer Science Club at Texas State University. Our purpose is to aid Computer Science students
    to further their skills, network with like-minded individuals, and enjoy the company of a diverse student
    body gathered around a shared interest in computing and all of its related fields. The EXE Computer Science
    Club is organized to offer semester projects, group meetings, and a general atmosphere of camaraderie for
    students of any major to present and discuss topics of all kind.</p>
</section>
{% endblock %}
