{% extends 'template.html' %}

{% set override = true %}

{% block title %}Career Planning{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2 hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="career.html" class="maroon pill">Career Planning</a></li>
            <li><a href="resume.html" class="maroon pill">Resume</a></li>
            <li><a href="phone_interview.html" class="maroon pill">Phone Interview</a></li>
            <li><a href="elevator_speech.html" class="maroon pill">Elevator Speech</a></li>
        </ul>
    </div> <!-- class="col-sm-2" -->
    <div class="col-sm-2 visible-xs">
        <ul class="nav nav-pills" >
            <li class="dropdown">
                <a class="dropdown-toggle active maroon pills" data-toggle="dropdown" href="career.html">Career Planning
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="maroon pill" href="resume.html">Resume</a></li>
                    <li><a class="maroon pill" href="phone_interview.html">Phone Interview</a></li>
                    <li><a class="maroon pill" href="elevator_speech.html">Elevator Speech</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-sm-10 content">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="blue-text"><strong>Career Planning</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body content">
                        <p>
                            Career planning is learning about yourself and the world of work and then planning your
                            career choices based on what you've learned.  Knowing what you know about yourself, how do
                            various occupations match up with your interest, skills, personality, and values.<br />
                        </p>
                        <p>
                            Career planning helps you to:<br/>
                            - Decide what type of job you want.<br />
                            - Determine the skills you need to attain the ideal job.<br />
                            - Discover how to obtain those skills.<br />
                            - Develop ways to implement your plan.<br />
                        </p>
                        <p>
                            An effective 21st century career planner is someone who:<br />
                            - Views a plans as subject to change.<br />
                            - Equates career success with personal satisfaction.<br />
                            - Believes goals are independent of age.<br />
                            - Assumes responsibility for his or her own career direction.<br />
                            Robert Barner, The Futurist<br />
                        </p>
                        <h4>Steps to a Successful Career Plan</h4>
                        <p>
                            Studies show that a person working in a career that supports his or her own interests is happier,
                            more successful, and more fulfilled than someone who is not.
                        </p>
                        <h4>Who am I?</h4>
                        <p>
                            1. What do I really like to do?  Find your interests - they will lead you to interesting careers.<br />
                            2. What is important to me?  Your values will also impact on the careers you find fulfilling.<br />
                            3. What lifestyle do I want? Determine your priorities and how you want to lead your life.<br />
                            4. What do I do well?  Interests and values are part of exploration.  You also need to know your<br />
                            strengths. Those skill can be transferable or specific to careers.<br />
                            5. What personal traits do I possess?  Skills reflect what you do well but it is also necessary
                            understand how you do what you do.<br />
                        </p>
                        <h4>Assessment & Testing</h4>
                        <p>
                            There are numerous career assessment tests available to you at Career Services.  Assessments can
                            help you gather information regarding your values, interests, traits, skills, personality, work
                            style, and aptitudes. Contact them at 512.245.2645 to take an assessment.
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseOne -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="blue-text"><strong>Career exploration</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body content">
                        <p>
                            Fortunately, you do not have to go through all the career options in the world to find an
                            suitable occupation.  In order to start your career exploration, you need to create a list of
                            different occupations that might match your interests and skills.   Before you begin narrowing
                            down your possibilities, do some brainstorming to broaden your options.
                        </p>
                        <h4>Brainstorm on Your Own</h4>
                        <p>
                            Remember when everyone used to ask you what you wanted to be when you grew up (or maybe still do)?
                            What were your answers?  Write them down.  What did you enjoy doing as a child?  Write these
                            activities down. Look back at your list of interests, skills, values, and traits that you possess.
                            Can you think of any occupations that might match these characteristics?
                        </p>
                        <h4>Brainstorm with Others</h4>
                        <p>
                            Talk with friends, parents, teachers, neighbors, relatives, co-workers, etc. Tell them you are
                            trying to figure out what to do with your life.  They will probably jump at the chance to throw
                            in their two cents.  Keep in mind you are trying to come up with a master list of possibilities.
                            Do not dismiss any suggestions.  Do no make any commitments, either.
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseTwo -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="blue-text"><strong>Gather Information</strong></span>
                        </a>
                    </h4>
                </div><!-- end headingThree -->
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body content">
                        <p>
                            There are many methods of research that you can use to gather information about potential careers.
                            the list below begins with the least time-consuming method. As you narrow down your options
                            however, use methods that require more time.
                        </p>
                        <h4>The Internet</h4>
                        <p>
                            There are plenty of Internet resources that contain useful occupational information.   You can
                            even research individual occupations through search sites.  Many useful websites can be found on
                            Career Services home page at www.careerservices.txstate.edu.  Two suggestions are:<br /><br />
                            - The Occupational Outlook Handbook: www.bls.gov/oco<br />
                            Provides essential information about prospective changes in teh work world, qualifications needed
                            for certain job, the nature of the work, working conditions, employment levels, and outlooks for
                            a wide variety of jobs and careers.<br />
                            - America's College Board Online: www.collegeboard.com/html/careerbrowser.html<br />
                            List career descriptions organized by type of career.
                        </p>
                        <h4>Career Services</h4>
                        This resource can be accessed over the Internet, and has knowledgeable staff who can help you find
                        the information you need.
                        <p>

                        </p>
                        <h4>Labor Market Information</h4>
                        <p>
                            This information focuses on such things an working conditions, wages, trends, qualifications,
                            employer demands, as well as other factors which affect the market for labor.
                        </p>
                        <h4>Informational Interviewing</h4>
                        <p>
                            This informational interview is a chance for you to reverse roles and become the interviewer while
                            a representative from the organization or occupation in which you are interested becomes the
                            interviewee.  The goal is to gather information about a particular job or career directly from an
                            employer to help you find out if it is the kind of job in which you would be interested.
                        </p>
                        <h4>Volunteering</h4>
                        <p>
                            There are many advantages to volunteering.  It gives you a firsthand look at possible occupations,
                            provides a great way to network, enhances your resume, and will help you explore the pros and cons
                            of possible fields.
                        </p>
                        <h4>Working Part-time</h4>
                        <p>
                            Like volunteering, working part-time can give you a change to get a firsthand glimpse of the job in
                            which you are interested while alos makig contacts. And, unlike volunteering, it allows you to
                            earn some money.
                        </p>
                        <h4>Job Shadowing</h4>
                        <p>
                            Job shadowing give you an insiders's view into career positions you are targeting, giving you a
                            chance to learn what the career is all about without significant time commitment.
                        </p>
                        <h4>Interning</h4>
                        <p>
                            An internship can be paid or unpaid position and allows you to gain relevant experience in your
                            chosen career field, or rule out certain career options.
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseThree -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="blue-text"><strong>Narrow the field</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body content">
                        <p>
                            Now it's time to evaluate each of the options that you have identified and narrow your possible
                            career options to a few.  In order to evaluate your choices you should:
                        </p>
                        <h4>Check the fine Print</h4>
                        <p>
                            Check out Career Services, Texas State's Alkek Library, your academic advisor or department advisor.
                            There are a wide variety of resources available to help gain critical information about your
                            career options.
                        </p>
                        <h4>(Once Again) Surf the Net</h4>
                        <p>
                            New that you have a list of interesting occupations, the Internet can help explain those
                            professions in even more detail. Some sites recommended to help narrow your scope are:<br /><br />
                            - CareerOneStop: www.careeronestop.org<br />
                            Provides a wealth of information on most careers including salary and industry trends, job outlook,
                            and links to career information.<br />
                            - Job Profiles: www.jobprofiles.org<br />
                            Covers the more personal side of work. Features interviews with professionals in a variety of
                            fields<br />
                            - Get that Gig: www.getthatgig.com<br />
                            Contains interesting interviews with professional and profiles of people in different careers
                            written for college students. the information is represented in a fun way.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseFour -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <span class="blue-text"><strong>Make a decision</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body content">
                        <p>
                            You have now come to the point where you need to make some choices.  this may be more painful that
                            the research.  Follow these steps to help you through the process of making a decision.<br /><br />
                            1. Name the Decision<br />
                            Stating precisely what it is that you need to decide may help give you some perspective on the
                            situation. What exactly is it that you need to know?  What does a career mean to you in the first
                            place?  Five years? Ten years?<br />
                            2. Write down at least two occupations that stood out during your search.<br />
                            3. Evaluate the Alternatives and Decide.<br />
                            Write down the potential outcomes of each occupation (both positive and negative) for you and for
                            others who are close to you.<br />
                            4. Test your Choice<br />
                            thinks of ways to test the alternatives you have chosen.  Options include summer jobs, taking a
                            related course, volunteering, job shadowing, interning, etc.<br />
                            5. Evaluate your Decision<br />
                            How well did your choice work?  If you need to, you can begin the process again.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseFive -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <span class="blue-text"><strong>Plan for the future</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body content">
                        <p>
                            Having chosen of the career options, you can onw begin developing and implementing a planh of action
                            through internships, cooperative education, relevant summer employment, volunteer work, and
                            campus activities.  Some additional steps you will need to take are:<br /><br />
                            1. Investigate Any Additional Education or Training Needed<br />
                            Does the career path require additional courses and are you willing to complete these?<br />
                            2. Develop a Job Search Strategy<br />
                            Plan you will find a job once you meet the requirements.  networking and gaining experience can
                            help get your foot in the door.<br />
                            3. Write Your Resume and Compose a Cover Letter<br />
                            Career Services has 48-hour resume and cover letter critiquing, as well as Career Counselors that
                            can give professional advice.  There are also numerous resources in the Career Service Library.<br />
                            4. Prepare for a Job Interview<br />
                            Draft answers to difficult question that you could be asked.  Career Services is available for
                            mock interviews throughout the year.<br>
                            5. Gather Company Information<br />
                            Investigate a potential employer to prepar for the interview, as well as to ensure that it is a
                            worklace that fits your needs.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseSix -->
            </div><!-- panel panel-default -->

        </div><!-- panel-group -->
    </div> <!-- class="col-sm-10" -->
</div><!-- row -->

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10" >
        <div class="well" id="bigCallout">
            <h3 class="hidden-xs" >www.careerservices.txstate.edu</h3>
            <h4 class="visible-xs" >www.careerservices.txstate.edu</h4>
            <p>LBJ Student Center Suite 5-7.2 | 512.245.2645 | CareerServices@txstate.edu</p>
        </div><!-- end bigCallout-->
    </div><!-- end col-sm-10 -->
</div><!-- end row -->
{% endblock %}