{% extends 'template.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Constitution</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis neque vitae tortor tincidunt vulputate at a ipsum. 
Aliquam a enim a tellus congue pharetra. Aenean posuere rutrum tempor. Maecenas aliquet suscipit orci id accumsan.
Nunc hendrerit, nisi vel cursus malesuada, odio tortor auctor est, vel condimentum lectus ante vitae enim.
Nulla porta est sed lacus ullamcorper, vitae commodo mi congue. Aenean non mi a nunc lacinia mattis. Vivamus ornare ipsum sagittis leo tincidunt lobortis.
Aliquam fermentum nisl a risus posuere, id accumsan ante convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit vehicula neque non euismod.</p>
{% endblock %}
