{% extends 'template.html' %}

{% set override = true %}

{% block title %}Career Planning{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2 hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li><a class="maroon pill" href="career.html">Career Planning</a></li>
            <li><a class="maroon pill" href="resume.html">Resume</a></li>
            <li><a class="maroon pill" href="cover_letter.html">Cover Letter</a></li>
            <li><a class="maroon pill" href="elevator_speech.html">Elevator Speech</a></li>
            <li><a class="maroon pill" href="career_portfolio.html">Career Portfolio</a></li>
            <li><a class="maroon pill" href="employer_research.html">Employer Research</a></li>
            <li><a class="maroon pill" href="phone_interview.html">Phone Interview</a></li>
            <li><a class="maroon pill" href="job_interview.html">Job Interview</a></li>
        </ul>
    </div> <!-- class="col-sm-2" -->
    <div class="col-sm-2 visible-xs">
        <ul class="nav nav-pills" >
            <li class="dropdown">
                <a class="dropdown-toggle active maroon pill" data-toggle="dropdown" href="career.html">Career Planning
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="maroon" href="resume.html">Resume</a></li>
                    <li><a class="maroon" href="cover_letter.html">Cover Letter</a></li>
                    <li><a class="maroon" href="elevator_speech.html">Elevator Speech</a></li>
                    <li><a class="maroon" href="career_portfolio.html">Career Portfolio</a></li>
                    <li><a class="maroon" href="employer_research.html">Employer Research</a></li>
                    <li><a class="maroon" href="phone_interview.html">Phone Interview</a></li>
                    <li><a class="maroon pill" href="job_interview.html">Job Interview</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-sm-10 content">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="blue-text"><strong>Employer research</strong></span>
                        </a>
                    </h4>
                </div> <!-- panel-heading content -->
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body content">
                        <p>
                            Carefully researching an employer can mean the difference between knowing enough to apply
                            and knowing enough to actually lock down a job.
                        </p>
                        <p>
                            Employer research can usually be achieved through highly-scalable, low-cost resources.  The
                            time you take to study your dream job will be time well invested.
                        </p>
                        <p>
                            When conducting employer research, areas of possible interest are:
                        </p>
                        <ul>
                            <li>Company overview</li>
                            <li>Employer image</li>
                            <li>Types of people</li>
                            <li>Locations</li>
                            <li>Professional development</li>
                            <li>Web resources</li>
                            <li>Growth potential</li>
                            <li>Salary ranges</li>
                            <li>Products</li>
                            <li>Competitors</li>
                            <li>Government employment</li>
                        </ul>
                        <p>
                            Researching the employers for whom you most want to work will enable you to tailor your
                            resume to fit their needs and to be more knowledgable during your interview.
                        </p>
                        <p>
                            The time you put into researching employers will truly pay off in the end!
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseOne -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo">
                            <span class="blue-text"><strong>Why seek information about prospective employers?</strong></span>
                        </a>
                    </h4>
                </div><!-- panel-heading content -->
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body content">
                        <p> <strong>Q:</strong><i> What is "employer research"?</i><br />
                            <strong>A:</strong><i> Employer research is the process of obtaining information on
                            prospective employers, which can be used to determine which job would best fit you.</i>
                        </p>
                        <h5><strong>Increase your marketability</strong></h5>
                        <p>
                            Research will enhance your marketability to potential employers.  Research exemplifies your
                            interest in and enthusiasm toward an organization by showing the employer that you are
                            knowledgeable about his/her organization.  One of the top complaints among employers is that
                            recent graduates have not adequately prepared themselves for the job search.
                        </p>
                        <p>
                            In addition to helping you make a good first impression, researching employers enables you
                            to create better cover letters and resumes to target specific positions withing an
                            organization, as well as better preparing you for the interview.
                        </p>
                        <h5><strong>Make an informed decision</strong></h5>
                        <p>
                            You may research employers to locate positions related to a particular type of work, industry,
                            or geographic location.  This research can aid you in the process of narrowing and selecting
                            a future career.
                        </p>
                    </div> <!-- panel-body content -->
                </div><!-- collapseTwo -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="blue-text"><strong>Facts you want to know about employers</strong></span>
                        </a>
                    </h4>
                </div><!-- panel-heading -->
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body content">
                        <p>
                            It is important to first establish what information you will want to know about a potential
                            employer.  Your research wil provide an overview of the organization and include valuable
                            information regarding products and services offered, financial health, plans for future
                            growth, potential career path options, employee training,a nd many other areas.
                        </p>
                        <p>
                           The information obtained through research will be useful in helping you decide whether to
                            accept a position.
                        </p>
                        <p>
                            The following list will help you organize information that will be useful to have at your
                            disposal during the interview.
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseThree -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="blue-text"><strong>Checklist of facts to know about organizations</strong></span>
                        </a>
                    </h4>
                </div><!--panel-heading content-->
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body content">
                        <h5><strong>Company Overview</strong></h5>
                        <ul>
                            <li>What does the company do? What products and services do they provide?</li>
                            <li>What is the size of the organization?</li>
                            <li>How is the company's current financial health?</li>
                            <li>What is the anticipated growth? Are there any expansion plans?</li>
                            <li>How is the organization structured(management)?</li>
                        </ul>
                        <h5><strong>Employer Image</strong></h5>
                        <ul>
                            <li>What is the organizations's national and local reputation in the market?</li>
                            <li>What awards or recognitions has it received?</li>
                            <li>What is its relationship to competitors?</li>
                            <li>With what associations is it actively involved?</li>
                            <li>What is its sales growth over the last five years?</li>
                        </ul>
                        <h5><strong>People</strong></h5>
                        <ul>
                            <li>Where is the corporate headquarters located?</li>
                            <li>Where are branches, subsidiaries, stores, satellite offices, etc. located?</li>
                        </ul>
                        <h5><strong>Professional development</strong></h5>
                        <ul>
                            <li>What type of training programs are offered to employees?</li>
                            <li>What is the typical promotional path?</li>
                            <li>What is the typical career path in the field compared to that in the company?</li>
                            <li>What benefits are offered?</li>
                            <li>How are employees reviewed or evaluated?
                            </li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseFour -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive"
                           aria-expanded="false" aria-controls="collapseFive">
                            <span class="blue-text"><strong>Organizing your data</strong></span>
                        </a>
                    </h4>
                </div><!--panel-heading content-->
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body content">
                        <h5><strong>What to do with the information you gathered</strong></h5>
                        <p>
                            Locating potential employers can be a time consuming process.  Therefore, it is imperative
                            that you start your employer search early.  Some information may not be available through
                            printed information and you may need to set up informational interviews, make phone calls,
                            or search the internet for answers.
                        </p>
                        <p>
                            As you begin gathering information on employers, you will want to keep your facts organized.
                            Maintaining a file for each employer will make preparing for the interview easier by
                            preventing information from running together.  You may want to compile a summary sheet of
                            recorded and relevant facts.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseFive -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix"
                           aria-expanded="false" aria-controls="collapseSix">
                            <span class="blue-text"><strong>Obtaining employer information online</strong></span>
                        </a>
                    </h4>
                </div><!--panel-heading content-->
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body content">
                        <p>
                            Use the following Internet sites to seek out employer's websites, to find and analyze
                            information about a company, or to develop a list of employers for your job search.
                        </p>
                        <h5><strong>General Company Searches</strong></h5>
                        <p>
                            <a href="http://www.careerinfonet.org/select_occupation.asp?next=occ_rep">www.careerinfonet.org</a><br />
                            Search employers by name, industry, and location.  This site alos provides useful career
                            information such as wages and trends, occupational outlooks, and skill necessary for chosen
                            occupations.
                        </p>
                        <p>
                            <a href="http://www.bu.edu/library/guide/tenkay">http://www.bu.edu/library/guide/tenkay</a><br />
                            Library of public company annuals and financial reports.
                        </p>
                        <p>
                            <a href="http://www.hoovers.com/">www.hoovers.com (Hoovers Online)</a><br />
                            Provides a master list of 10,000+ companies with direct links to their corporate websites,
                            SEC filings, and other company information.  Also includes job listings.
                        </p>
                        <p>
                            <a href="https://www.wetfeet.com/">www.wetfeet.com</a><br />
                            Research companies, careers, industrites, city profiles.  Provides list of insider guides to
                            companies for purchase.
                        </p>
                        <p>
                            <a href="http://www.advfn.com/amex/americanstockexchange.asp">
                                www.adfn.com/amex/americanstockexchange.asp</a><br />
                            Links to companies listed on the American Stock Exchange.  New York Stock and NASDAQ are
                            available
                        </p>
                        <h5><strong>Top company listings</strong></h5>
                        <p>
                            <a href="http://fortune.com/fortune500/">http://fortune.com/fortune500 </a><br />
                            List of all the Fortune top companies.
                        </p>
                        <p>
                            <a href="http://www.forbes.com">http://www.forbes.com</a><br />
                            Search America's largest corporation by sales, profits, assets, and market value.
                        </p>
                        <p>
                            <a href="http://www.sba8a.com">http://www.sba8a.com</a><br />
                            Searchable directory of minority and women-owned businesses.  Search by industry and/or state.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseSix -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSeven"
                           aria-expanded="false" aria-controls="collapseSeven">
                            <span class="blue-text"><strong>Seeking employer information through publications</strong></span>
                        </a>
                    </h4>
                </div><!--panel-heading content-->
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body content">
                        <h5><strong>General Resources</strong></h5>
                        <p>
                            <strong>Directories</strong><br />
                            Available at local libraries.  These publications provide information about an organization's
                            products or services, the number of employees, principal executives, and locations.  Other
                            information might include revenues generated, major clients, and descriptions of
                            subsidiaries.
                        </p>
                        <p>
                            <strong>Informational Interviews</strong><br />
                            You can meet with an employee willing to provide you with information about their particular
                            organization.  Because the informational interview is not a formal interview, the tone is more
                            low key - a more relaxed request for the facts.
                        </p>
                        <p>
                            <strong>University Library</strong><br />
                            Texas State University's Alkek Library provides a multitude of resources related to employer
                            research.  Contact Reference Information at 245-2685 to speak with a Reference Librarian
                            regarding the best periodicals and books for your purposes.
                        </p>
                        <p>
                            <strong>Career Services Library</strong><br />
                            Texas Sate Career Services provides students and alumni with a wide rang of career resources
                            including information directly related to employers whether regional, statewide, national, or
                            international.  Each of the eight stations in our computer lab include a database detailing
                            the major employers, category by category, for Austin, San Antonio, Houston and Dallas.
                            Another section of the library  highlights company profiles, and is arranged according to
                            occupational area.  Another section provides insight into seeking employment overseas.
                        </p>
                        <table>
                            <tbody>
                            <tr>
                                <th>Specific Information</th>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <th>Specific Resources</th>
                            </tr>
                            <tr>
                                <td><strong>Location</strong><br /><br /><br /><br /><br /><br /><br /><br /><br /></td>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>State industrial directories</li>
                                        <li>Dun & Bradstreet Reference Book of Corporate Management</li>
                                        <li>Regional Development Agencies</li>
                                        <li>State and local Chambers of Commerce</li>
                                        <li>Business sections of local newspapers</li>
                                        <li>Moody's manuals</li>
                                        <li>Directory of Corporate Affiliations</li>
                                        <li>Company 10Ks and annual reports</li>
                                        <li>Job Seeker's Guide to Private and Public Companies</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>High-growth Industries</strong><br /><br /></td>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>High Value Line Investment Surveys</li>
                                        <li>Preclicasts forecast manuals</li>
                                        <li>Directory of Industry Data Sources</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Salary Level</strong><br /><br /><br /><br /></td>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>American Compensation Association publications</li>
                                        <li>The American Almanac of Jobs and Salaries</li>
                                        <li>American Management Association surveys</li>
                                        <li>National Association of Colleges and Employers salary survey</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Competitors</strong><br /><br /><br /><br /></td>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Dun and Bradstreet Dollar Directory</li>
                                        <li>Standard & Poor's Industry Survey</li>
                                        <li>Business periodicals index</li>
                                        <li>Industry Buying Guide</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Products Made</strong><br /><br /><br /><br /><br /></td>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Company annual report</li>
                                        <li>Moody's manuals</li>
                                        <li>Thomas Register (company catalogue volumes)</li>
                                        <li>U.S. Industrial Directory</li>
                                        <li>American Business, Company Profiles (CDs)</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Company Reports & Analyses</strong><br /><br /></td>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Standard & Poor's Stock Report</li>
                                        <li>Moody's Investor's Fact Sheets</li>
                                        <li>Value Line Investment Surveys</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Key Personnel</strong><br /><br /><br /><br /></td>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>Dun & Bradstreet Reference Book of Corporate Management</li>
                                        <li>Standard & Poor's Corporations, Directors, and Executives</li>
                                        <li>Who's Who directories</li>
                                        <li>Corporate proxy statements</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Government Employment</strong><br /><br /><br /><br /></td>
                                <td></td>
                                <td>
                                    <ul>
                                        <li>State: The State Administrative Officials Classified by Functions<br />
                                        has a section listing state employement offices and phone numbers</li>
                                        <li>Federal: A netrwork of federal job information is located at<br />
                                            www.usajobs.gove; wee.federaljobs.net, wwww.fedworlds.gov, and
                                            www.ourpublicservice.org.  Check the Careers in Federal Goverment handout
                                            in Career Services.
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- panel-body content -->
                </div><!-- collapseSeven -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingEight">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseEight"
                           aria-expanded="false" aria-controls="collapseEight">
                            <span class="blue-text"><strong>Incorporate your findings into the interview</strong></span>
                        </a>
                    </h4>
                </div><!--panel-heading content-->
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body content">
                        <p>
                            Simply being informed about an employer does not guarantee a successful interview unless you
                            use that information effectively.  Knowledge of products and opportunities is only helpful
                            if you know how to tactfully weave it into the interview.  Spouting out facts or prefacing a
                            question with a lot of memorized details will not convince the employer of your interest
                            and/or knowledge.
                        </p>
                        <p>
                            During the interview, most employers will ask some variation of, "Why do you want to work
                            for our organization?" or "What are your long-range career goals?"  Relating your skills to
                            those in the literature that seem to be needed for the position - or valued by the
                            organization in general - can be an effective way to show that you've done your homework.
                            Remember to bring in transferable skills like communications, writing, sales, or computer
                            knowledge.  Before the interview, brainstorm how you can help the employer be competitive in
                            specified markets found through your research.
                        </p>
                        <p>
                            Another way to incorporate information is through the questions that you ask the employer,
                            usually towards the end of the interview.  Request information on topics you really want to
                            know more about, and avoid being too detailed or projecting a "know-it-all" attitude.  Ask
                            questions that encourage the employer to expand on information from the literature.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseEight -->
            </div><!-- panel panel-default -->

        </div><!-- panel-group -->
    </div> <!-- class="col-sm-10" -->
</div><!-- row -->

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10" >
        <div class="well" id="bigCallout">
            <h3 class="hidden-xs" >www.careerservices.txstate.edu</h3>
            <h4 class="visible-xs" >www.careerservices.txstate.edu</h4>
            <p>LBJ Student Center Suite 5-7.2 | 512.245.2645 | CareerServices@txstate.edu</p>
        </div><!-- end bigCallout-->
    </div><!-- end col-sm-10 -->
</div><!-- end row -->
{% endblock %}