{% extends 'template.html' %}

{% block title %}Events{% endblock %}

{% block content %}
<div class="col-sm-10 hidden-xs responsive-iframe-container" style="padding-right:0">
    <iframe src="https://www.google.com/calendar/embed?src=m6faudjrp9ti4bpq5s4n6v561s%40group.calendar.google.com&amp;ctz=America/Chicago" style="border: 0" width="575" height="575" frameborder="0" scrolling="no"></iframe>
</div> <!-- class="col-sm-10" -->
<div class="col-sm-10 visible-xs responsive-iframe-container" style="padding-right:0">
    <iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=400&amp;wkst=1&bgcolor=%23FFFFFF&amp;src=m6faudjrp9ti4bpq5s4n6v561s%40group.calendar.google.com&amp;ctz=America/Chicago" style="border: 0" width="280" height="500" frameborder="0" scrolling="no"></iframe>
</div> <!-- class="col-sm-10" -->
{% endblock %}
