{% extends 'template.html' %}

{% block title %}Forums{% endblock %}

{% block content %}
{% for category in forum.categories %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ category.forum_name }}</div>
    <div class="panel-content">
        <ul class="list-group">
        {% for topic in category.topics %}
        <li class="list-group-item">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <a href = "/forums/{{ topic.topic_id }}">
                <h4 class="list-group-item-heading">{{ topic.topic_name }}</h4>
            </a>
            <p class="lsit-group-item-text">{{ topic.topic_description }}</p>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
<button>New Topic</button>
{% endblock %}
