{% extends 'template.html' %}

{% block title %}Home{% endblock %}

{% block content %}
        <div class="carousel slide" id="indexCarousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#indexCarousel"></li>
                <li data-slide-to="1" data-target="#indexCarousel"></li>
                <li data-slide-to="2" data-target="#indexCarousel"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active" id="slide1">
                    <div class="carousel-caption">
                        <h4>Title for picture</h4>
                        <p>XXXXXXXXXXXXXXXXXXXX</p>
                    </div>
                </div>

                <div class="item" id="slide2">
                    <div class="carousel-caption">
                        <h4>Title for picture</h4>
                        <p>YYYYYYYYYYYYYYYYYY</p>
                    </div>
                </div>

                <div class="item" id="slide3">
                    <div class="carousel-caption">
                        <h4>Title for picture</h4>
                        <p>ZZZZZZZZZZZZZZZZZZZZZ</p>
                    </div>
                </div>
            </div><!-- end carousel-inner -->

            <!-- Controls -->
            <a class="left carousel-control" data-slide="prev" href="#indexCarousel"><span class="icon-prev"></span></a>
            <a class="right carousel-control" data-slide="next" href="#indexCarousel"><span class="icon-next"></span></a>
        </div><!-- END indexCarousel -->

        <div class="row">
            <div class="col-sm-12">
                <section>
                    <h3>Mission Statement</h3>
                    <p>
                        The Texas State University Exe club's purpose is to enhance student portfolios and show potential
                        employers what students are capable of working on outside of class.
                    </p>
                    <h3>About Us</h3>
                    <p>The Exe club is a student-led Computer Science club at Texas State University. The club invites a
                        community of students who have a passion for solving problems, coding, or building projects.We
                        help Computer Science students to further these skills. The club allows members to network with
                        like-minded individuals, and enjoy the company of a diverse student body gathered around a shared
                        interest in computing and all of its related fields. The Exe Computer Science Club offers
                        semester projects, group meetings, and a general atmosphere of camaraderie for students of any
                        major to present and discuss topics of all kinds. The Exe club allows members to enjoy the
                        knowledge of Computer Science without the pressure of the classroom.
                    </p>
                    <h3>Meeting Location and Time</h3>
                    <p> We hold our meetings every semester on Tuesdays at 7 pm in room 231 Derrick Hall of Texas State University.</p>
                    <p> Come by and see us! </p>
                </section>
            </div> <!-- class="col-sm-12" -->
        </div><!--row-->
        <div class="row">
            <div class="col-sm-12" id="map">
                <label>Location: Derrick Hall, 105 Pickard Street, San Marcos, Texas 78666</label>
                <iframe width="100%" height="250" allowfullscreen="" style="border:5px solid #4d1717" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3459.1323659561563!2d-97.94434558489498!3d29.889286381938994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865ca869384a5a41%3A0x8dff4adecab65973!2sDerrick+Hall%2C+Pickard+St%2C+San+Marcos%2C+TX+78666!5e0!3m2!1sen!2sus!4v1447467204853">
                </iframe>
            </div> <!-- class="col-sm-12" id="map" -->
        </div> <!-- class="row content" -->
{% endblock %}
