{% extends 'template.html' %}

{% set override = true %}

{% block title %}Career Planning{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2 hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li><a class="maroon pill" href="career.html">Career Planning</a></li>
            <li><a class="maroon pill" href="resume.html">Resume</a></li>
            <li><a class="maroon pill" href="cover_letter.html">Cover Letter</a></li>
            <li><a class="maroon pill" href="elevator_speech.html">Elevator Speech</a></li>
            <li><a class="maroon pill" href="career_portfolio.html">Career Portfolio</a></li>
            <li><a class="maroon pill" href="employer_research.html">Employer Research</a></li>
            <li><a class="maroon pill" href="phone_interview.html">Phone Interview</a></li>
            <li><a class="maroon pill" href="job_interview.html">Job Interview</a></li>
        </ul>
    </div> <!-- class="col-sm-2" -->
    <div class="col-sm-2 visible-xs">
        <ul class="nav nav-pills" >
            <li class="dropdown">
                <a class="dropdown-toggle active maroon pill" data-toggle="dropdown" href="career.html">Career Planning
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="maroon" href="resume.html">Resume</a></li>
                    <li><a class="maroon" href="cover_letter.html">Cover Letter</a></li>
                    <li><a class="maroon" href="elevator_speech.html">Elevator Speech</a></li>
                    <li><a class="maroon" href="career_portfolio.html">Career Portfolio</a></li>
                    <li><a class="maroon" href="employer_research.html">Employer Research</a></li>
                    <li><a class="maroon" href="phone_interview.html">Phone Interview</a></li>
                    <li><a class="maroon" href="job_interview.html">Job Interview</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-sm-10 content">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="blue-text"><strong>The phone interview</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body content">
                        <p>
                            The job interview is a mutual exchange of information.
                        </p>
                        <p>As the applicant, your main objectives are:</p>
                        <ul>
                                <li>To communicate information about your skills and qualifications clearly and
                                accurately.</li>
                                <li>To connect this information to the requirements of the job for what you are
                                interviewing.</li>
                                <li>To seek additional information about the position and employer to determine if the
                                position is an appropriate fit.</li>
                        </ul>
                        <p>The interviewer's main objectives are:</p>
                        <ul>
                            <li>To assess how closely your qualifications match the requirements of the position and
                            organization. </li>
                            <li>To present the organization in a positive manner and supply accurate information about
                            it to you.</li>
                        </ul>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseOne -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="blue-text"><strong>The job interview process</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body content">
                        <p>
                            Think of the interview not as an interrogation but as a two-way conversation during with  you
                            and the employer determine whether you meet each other's needs.  There are a number of steps
                            that you need to complete to maximize the success of this conversation.
                        </p>
                        <h4><strong>Step 1 - Prepare</strong></h4>
                        <h5><strong>
                                Prepare all necessary documents needed for the interview - resume, cover letter, etc.
                        </strong></h5>
                        <p>
                            You will always want to bring along extra copies of your resume, transcript, and references.
                            Consider purchasing a leather portfolio to hold your documents and a pen and paper to record
                            notes.  for assistance in editing your resume or cover letter, come by Texas State Career
                            Services and meet with a career counselor or upload your document online for a 48-hour
                            review.
                        </p>
                        <h5><strong>Plan your attire</strong></h5>
                        <p>
                            First impressions are powerful, so you will want to look your best.  Suggestions for
                            professional dress for an interview include:
                        </p>
                        <table>
                            <tbody>
                            <tr>
                                <td>Suits/Dresses</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>Conservative, in dark colors (dark blue, black, gray, or tan), skirt length just above
                                knee, no mini skirts!</td>
                            </tr>
                            <tr>
                                <td>Shirts/Blouses</td>
                                <td></td>
                                <td>Simple, soft colors, and not revealing</td>
                            </tr>
                            <tr>
                                <td>Socks</td>
                                <td></td>
                                <td>Calf-length, complementing the suite</td>
                            </tr>
                            <tr>
                                <td>Stockings</td>
                                <td></td>
                                <td>Natural color such as beige or a color to match suite.</td>
                            </tr>
                            <tr>
                                <td>Shoes</td>
                                <td></td>
                                <td>Men - polished, should match suite<br />
                                Women - polished, low to medium heels</td>
                            </tr>
                            <tr>
                                <td>Ties</td>
                                <td></td>
                                <td>Silk, coordinated with suite</td>
                            </tr>
                            <tr>
                                <td>Handbag</td>
                                <td></td>
                                <td>Medium or small size</td>
                            </tr>
                            <tr>
                                <td>Hair</td>
                                <td></td>
                                <td>Conservative hair style that does not distract from your professionalism</td>
                            </tr>
                            <tr>
                                <td>Jewelry</td>
                                <td></td>
                                <td>Men - watch and only one ring<br />
                                Women - watch, one ring on each hand and small earrings</td>
                            </tr>
                            </tbody>
                        </table>
                        <h5><strong>Anticipate the interview's format</strong></h5>
                        <p>Ask questions beforehand such as: "With whom will I be meeting?"<br />
                        "How long should I plan to be at your office?" Knowing the format will help you prepare for
                        the interview experience.
                        </p>
                        <h4><strong>Step 2 - research organization and the position</strong></h4>
                        <p>
                            Learn as much about the organization and position you are applying for before the interview.
                            Visit the organization's website.  Analyze the job description and try to match your
                            experiences, interests, and abilities to the requirements for the position.  Visit Texas
                            State Career Services' website at www.careerservicestxstate.edu and investigate links
                            related to your particular occupational field.
                        </p>
                        <h4><strong>Step 3 - Know yourself</strong></h4>
                        <p>
                            Prepare to discuss your strengths, weaknesses, education, work experiences, personal goals,
                            and values.  Read the job description thoroughly, anticipating questions that focus on your
                            qualifications, the organization, and how the two fit together.  Question you may be asked
                            include:
                        </p>
                        <ul>
                            <li>Tell me about yourself.</li>
                            <li>What are your goals?</li>
                            <li>Why do you want to work for this organization?</li>
                            <li>Why should we hire you?</li>
                        </ul>
                        <p>
                            Many other questions are outlines in the interview section of the Career Services Library.
                        </p>
                        <h4><strong>Step 4 - make a list of questions to ask</strong></h4>
                        <p>
                            The questions you ask will reveal much about your level of interest in the organization and
                            your level of preparation for the interview.  Ask questions that demonstrate a genuine
                            interest in and knowledge of the organization and position.  Although each situation will
                            warrant specific inquiries, some suggested questions include:
                        </p>
                        <ul>
                            <li>What characteristics do you look for in a successful employee?</li>
                            <li>What are a few of the problems I will be expected to solve?</li>
                            <li>What is the traditional career path for this position, and in what ways do you evaluate
                            employees?</li>
                            <li>If I may ask, what is your timetable for filling this current position?</li>
                        </ul>
                        <h4><strong>Step 5 - Follow up</strong></h4>
                        <p>
                            Write a brief letter of thanks for the interview.  In the letter you need to reiterate your
                            interest in the position and briefly state why you are the best candidate.  If you do not
                            hear from anyone in a week, then call to express your continued interest in the position.
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseTwo -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                           aria-expanded="false" aria-controls="collapseThree">
                            <span class="blue-text"><strong>Suggestions for a better interview</strong>
                            </span>
                        </a>
                    </h4>
                </div><!-- end headingThree -->
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body content">
                        <h5><strong>Be sure to:</strong><br /></h5>
                        <ul>
                            <li>Arrive early</li>
                            <li>Be neatly groomed</li>
                            <li>Display good hygiene</li>
                            <li>Dress accordingly</li>
                            <li>Make eye contact</li>
                            <li>Give a firm handshake</li>
                            <li>demonstrate good posture</li>
                            <li>Speak with confidence</li>
                            <li>Maintain interviewer's pace, style of speech</li>
                            <li>Be polite</li>
                            <li>Answer questions directly</li>
                            <li>End interview with gratitude and enthusiasm about the job</li>
                        </ul>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseThree -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="blue-text"><strong>Types of interview questions</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body content">
                        <h4> Behavioral Questions</h4>
                        <p>
                            The most common type of questions are behavioral.  These questions aim to determine how you
                            would operate on the job.  How  you respond to past situations is of great interest to the
                            interviewer in assessing your potential as an employee.  Examples of behavioral questions
                            include:
                           <ul>
                                <li>Give an example of a time when you had to juggle multiple tasks.</li>
                                <li>Tell me about a situation in which you solved a problem as a member of a group. What
                                was your role?</li>
                                <li>Tell me about a problem you one had on the job.  How did you go about resolving the
                                problem?</li>
                            </ul>
                        <h4> Behavioral Questions</h4>
                        <p>
                            Strong answers to behavioral questions describe specific situations that focus on your action.
                            Often behavioral questions cover specific "themes" required by the position such as time
                            management, teamwork, initiative, organizational and communication skills, and so on.
                            One strategy for answering behavior-based questions is to use the
                            <strong>STAR</strong> formula (<strong>S</strong>ituation, <strong>T</strong>ask,
                            <strong>A</strong>ction, <strong>R</strong>esponse). The formula ensures that you deliver a
                            complete and concise answer. For example:
                        </p>
                        <p>
                            <strong>Question</strong><br />
                            <i> Describe a time when you were a team member and someone fell behind.</i><br />
                            <strong>Answer</strong><br />
                            <strong>Situation</strong><i> I had been assigned to a team to build a canoe out of
                            concrete. One of our team members was not showing up for our lab sessions or doing his
                            assignments.</i><br />
                            <strong>Task</strong><i> To maintain a good relationship with him and to help him do the job,
                            I met with him in private.</i><br />
                            <strong>Action</strong><i> I explained to him the team's frustration and asked if there was
                            anything I could do to help. He told me was failing another class, so I found someone to
                            help him with that coursework.</i><br />
                            <strong>Result</strong><i> He was able to spend more time on our project and was also
                            grateful to me for helping him out.  We finished our project on time and received high
                            scores.</i>
                        </p>
                        <h4>Traditional Questions</h4>
                        <p> Traditional questions include questions that clarify points on your resume, evaluate your
                            accomplishments and goals, and assess your expectations of the organization. "Themes" also work
                            into these questions, as well as many opportunities for you to showcase your strengths. Some
                            traditional questions and themes include:</p>
                        <p>
                            <strong>Question</strong> What are your strengths and weaknesses?<br />
                            <strong>Theme</strong> How well you know yourself, as well as how honest and open are you?<br />
                            <strong>Question</strong> Where do you see yourself in five years?<br />
                            <strong>Theme</strong> Ambition.
                            <strong>Question</strong> Why should I hire you?
                            <strong>Theme</strong> Understanding of organization's needs, as well as confidence of your
                            qualifications.
                        </p>
                        <h4>Traditional Answers</h4>
                        <strong>Question</strong>  Describe your most important accomplishment to date.
                        <strong>Theme</strong> Success, potential, and ambition.
                        <strong>Sample Answer</strong> During my senior year, I had the opportunity to compete ina
                        regional marketing competition.  I worked as part of a four-person team to develop a
                        comprehensive marketing plan. Not only did we take first place at the regional competition, but
                        we placed first at the national competition as well.  it was extremely rewarding to put the
                        knowledge I gained in the classroom to work.
                        <h4>Traditional Answers</h4>
                        <strong>Question</strong>  Why do you want to work here?
                        <strong>Theme</strong> Measure of knowledge of organization and interest.
                        <strong>Sample Answer</strong> I have researched the leading organizations in this industry and
                        yours seems to be the one that does the best job in terms of customer relations, encouraging risk
                        taking, and setting challenging goals.  These qualities appeal to me.
                        <h4>Traditional Answers</h4>
                        <strong>Question</strong>  Are you more comfortable working in a team environment or your own?
                        <strong>Theme</strong> Relationship with others and self (employers need people who can work
                        well both ways)
                        <strong>Sample Answer</strong> Some projects are more suitable for teams, other for individuals.
                        I work well both ways, depending on the project.

                        <h4>Difficult Questions</h4>
                        <p>Difficult questions are those that you are hoping they won't ask. For instance, if your
                            resume does not show continuous employment, you can expect to be asked to explain any gaps.
                            In order to answer these questions, you will need to come to terms with the issue at hand,
                            see the positive side of it, and demonstrate that you are eager to move on with your career.
                            There are some examples of how to handle difficult questions:
                        </p>
                        <strong>Question</strong> Why did you leave your last job?<br />
                        <strong>Situation</strong> You were laid off<br />
                        <strong>Sample answer</strong> I was one of 200 people laid off last September when XTZ<br />
                        Corporation went through a major downsizing.
                        <strong>Question</strong> Why did you leave your last job?<br />
                        <strong>Situation</strong> You were fired.<br />
                        <strong>Sample answer</strong> I just didn't fit into the organization.
                        My supervisor and I decided it was best for me to leave.  While this was a difficult
                        experience, I believe your organization would provide a better fit and i am ready to begin
                        again to do the caliber of work of which I am capable.
                    </div><!-- panel-body content -->
                </div><!-- collapseFour -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive"
                           aria-expanded="false" aria-controls="collapseFive">
                            <span class="blue-text"><strong>Last minute tips</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body content">
                        <ul>
                            <li>Arrive 5 to 10 minutes early</li>
                            <li>Express a positive and enthusiastic attitude</li>
                            <li>Pay attention to your body language</li>
                            <li>Show confidence without being arrogant</li>
                            <li>Speak positively about past and current employment experiences</li>
                            <li>End the interview with a closing statement</li>
                            <li>Open up to the interviewer so that he or she gets a glimpse of who you are</li>
                            <li>Be yourself!</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseFive -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix"
                           aria-expanded="false" aria-controls="collapseSix">
                            <span class="blue-text"><strong>Questions to practice for the interview</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body content">
                        <p>
                            If you would like, you can meet with a Career Counselor at Career Services and engage in a
                            practice interview.  The list below is a sampling of common question that you might like to
                            reference.  A counselor will prove you with helpful feedback to assist you through the
                            process.
                        </p>
                        <ul>
                            <li>Describe yourself.</li>
                            <li>List three things former coworkers might say about you.</li>
                            <li>What would you say is the most important thing you learned from your college career?</li>
                            <li>Describe your most creative class and give an example of your personal contribution
                            to its creativity.</li>
                            <li>Tell me about a course in which you felt performance was not up to par. What happened?</li>
                            <li>What extracurricular activities were you involved in?  What skills did you learn from
                            them?</li>
                            <li>How will you use those skills on the job?</li>
                            <li>Give a detailed example of how ou completed multiple tasks during a typical week.</li>
                            <li>give an example of a conflict or a high-pressure situation you encountered and how you
                            handled it.</li>
                            <li>Describe a problem you encountered during your college days.  How did you solve it?
                            Be specific.</li>
                            <li>How was your college experience prepared you for the career you have chosen?</li>
                            <li>How do you handle stress?</li>
                            <li>What has been your experience working as part of a team?</li>
                            <li>Do yo often assume the role of leader?  Describe a situation when you showed excellent
                            leadership.<li>
                            <li>Describe three goals you once set for yourself. How did you reach them?</li>
                            <li>What things do you look for in an organization?</li>
                            <li>What qualities do you look for in a supervisor?</li>
                            <li>In your last review, what did your supervisor suggest needed improvement?</li>
                            <li>Imagine your supervisor asks you to do something that makes you feel uncomfortable and
                            you perceive his or request as improper.  What do you do?</li>
                            <li>How would you describe your ideal job?</li>
                            <li>What do  you know about this organization?</li>
                            <li>Are you willing to travel?</li>
                            <li>What are your goals for the future?</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseSix -->
            </div><!-- panel panel-default -->

        </div><!-- panel-group -->
    </div> <!-- class="col-sm-10" -->
</div><!-- row -->

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10" >
        <div class="well" id="bigCallout">
            <h3 class="hidden-xs" >www.careerservices.txstate.edu</h3>
            <h4 class="visible-xs" >www.careerservices.txstate.edu</h4>
            <p>LBJ Student Center Suite 5-7.2 | 512.245.2645 | CareerServices@txstate.edu</p>
        </div><!-- end bigCallout-->
    </div><!-- end col-sm-10 -->
</div><!-- end row -->
{% endblock %}