{% extends 'template.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if message %}
<div class="alert alert-danger" role="alert">{{ message }}</div>
{% endif %}
<h1 style="color:#ae9c7f; margin-top:20px">Login</h1><br />
				  <form action="/login" method=post>
					<input type="text" name="email" placeholder="Email">
					<input type="password" name="password" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
				  Or <a href="/login/facebook/">log in with Facebook!</a>
{% endblock %}
