{% extends 'template.html' %} 
{% block title %}New Event{% endblock %} 
{% block head %}
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" type="text/css" /> 
{% endblock %} 

{% block content %}
<div class="alert alert-info" role="alert">This is restricted to officers only.</div>
<h1>New Event</h1>
<form action="newevent" method="post" class="input-group">
    <h4>Event Name</h4>
    <input type="text" name="name" style="width: 100%" />
    <br>
    <h4>Description</h4>
    <input type="text" name="description" style="width: 100%" />
    <br>
    <h4>Location</h4>
    <input type="text" name="location" />
    <div class="container">
        <div class='col-md-5'>
            <h4>Start Date</h4>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" name="startdate"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-5'>
            <h4>End Date</h4>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" name="enddate"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <h4>Point Value</h4>
    <input type="text" name="points" style="width: 100%" />
    <h4>Event Password</h4>
    <input type="text" name="password" style="width: 100%" />
    <input type="submit" value="Create" />
</form>
    <script type="text/javascript">
        $(function() {
            $('#datetimepicker6').datetimepicker();
            $('#datetimepicker7').datetimepicker({
                useCurrent: false //Important! See issue #1075
            });
            $("#datetimepicker6").on("dp.change", function(e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function(e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
{% endblock %}
