{% extends 'template.html' %}

{% block title %}New Post{% endblock %}

{% block head %}
<script src="/js/bootstrap3-wysihtml5.all.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap3-wysihtml5.min.css">
{% endblock %}

{% block content %}
<h1>New Thread</h1>
<form action="newpost" method="post">
   <h4>Title</h4><input type="text" title="title" name="title" style="width: 100%"/><br><br>
    <textarea class="textarea" name="message" title="post content" placeholder="Enter text ..." style="width: 100%; height: 300px; font-size: 14px; line-height: 18px;"></textarea> <br>
    <input type="submit" value="Post"/>
</form>
<script>
  $('.textarea').wysihtml5({
    toolbar: {
      fa: false
    }
  });
</script>
{% endblock %}
