{% extends 'template.html' %}

{% block title %}Officers{% endblock %}

{% block content %}
<h1>The Officers</h1>
<div id="group_picture"></div>
<div class="officer1_pic"></div>
<div class="officer1_descrip">
    <div class="offtitle">President: Josh Galindo</div>
    <div class="offinfo"><ul>
        <li>Different types of fast</li>
        <li>will be listed on these</li>
        <li>depending on the person</li>
        <li>and what questions Josh wants</li>
        <li>to have answered on here</li>
        </ul></div>
</div>
<div class="officer2_descrip">
    <div class="offtitle">VP: Tony Lam</div>
    <div class="offinfo"><ul>
        <li>Different types of fast</li>
        <li>will be listed on these</li>
        <li>depending on the person</li>
        <li>and what questions Josh wants</li>
        <li>to have answered on here</li>
        </ul></div>
</div>
<div class="officer2_pic"></div>
<div class="officer1_pic"></div>
<div class="officer1_descrip">
    <div class="offtitle">Secretary: Michelle Fast</div>
    <div class="offinfo"><ul>
        <li>Different types of fast</li>
        <li>will be listed on these</li>
        <li>depending on the person</li>
        <li>and what questions Josh wants</li>
        <li>to have answered on here</li>
        </ul></div>
</div>
<div class="officer2_descrip">
    <div class="offtitle">Treasurer: Avery Lightsey</div>
    <div class="offinfo"><ul>
        <li>Different types of fast</li>
        <li>will be listed on these</li>
        <li>depending on the person</li>
        <li>and what questions Josh wants</li>
        <li>to have answered on here</li>
        </ul></div>
</div>
<div class="officer2_pic"></div>
<div class="officer1_pic"></div>
<div class="officer1_descrip">
    <div class="offtitle">Web Master: Elize Geldenhuys</div>
    <div class="offinfo"><ul>
        <li>Different types of fast</li>
        <li>will be listed on these</li>
        <li>depending on the person</li>
        <li>and what questions Josh wants</li>
        <li>to have answered on here</li>
        </ul></div>
</div>
{% endblock %}
