{% extends 'template.html' %}

{% block title %}Pay Dues{% endblock %}

{% block content %}
<h1>Pay Membership Dues</h1>
Membership dues are $25, and you get a cool t-shirt!<br>
We accept Paypal, Bitcoin, and most credit cards.<br>
<!-- Paypal Checkout button -->
<a href="/pay/paypal">
    <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-medium.png" alt="Buy now with PayPal" />
</a>
<!-- Stripe Checkout Gadget -->
<form action="/pay/stripe" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ stripe.public_key }}"
    data-name="Texas State EXE"
    data-description="Membership Dues"
    data-bitcoin="true"
    data-amount="2500"
    data-locale="auto">
  </script>
</form><br>
{% if session.tshirt_size == null %}
<h4>We noticed that we don't have your t-shirt size on file!  Please <a href="/profile/{{session.member_id}}/edit">edit your profile</a> so we can get you the right sized t-shirt.
</h4>
{% endif %}
{% endblock %}
