{% extends 'template.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<br>
<div class="row-fluid">
    <div class="col-sm-2">
        <img src="https://secure.gravatar.com/avatar/{{ user.emailHash }}?s=120&r=g&d=mm" class="img-circle">
    </div>
    <div class="col-sm-8">
        <h2>{{ user.fname }} {{ user.lname }}</h2>
        <h5>{{ user.email }}</h5>
        <h6>Member Since {{ user.start_date.toDateString() }}</h6>
        <h6></h6>
    </div>
    <div class="col-sm-2">
        {% if user.member_id == session.member_id %}
        <a class="btn btn-info" href="{{ user.member_id }}/edit">
            Edit
        </a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2 class="page-header">About</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        
    </div>
    <div class="col-sm-6">
        <h4>{{ user.fname }} has</h4>
        <h1>6</h1><h4>points!</h4>
    </div>
</div>
{% endblock %}