{% extends 'template.html' %}
{% block title %}Projects{% endblock %}
{% block side_nav_left %}
        <h3>Links</h3>
        <nav>
            <ul>
                <li><a href="/Projects/Webdev.html">Web Dev</a><br></li>
                <li><a href="/Projects/Appdev.html">App Dev</a><br></li>
                <li><a href="/Projects/Coding.html">Program Dev</a><br></li>
                <li><a href="/Projects/Gamedev.html">Game Dev</a><br></li>
            </ul>
        </nav>
{% endblock %}
{% block content %}
        <table>
            <tbody>
            <tr>
                <td><a href="/Projects/Webdev.html"><img src ="/images/Webdev.png" alt="Webdev"></a></td>
                <td><a href="/Projects/Appdev.html"><img src ="/images/android_icon.png" alt="Appdev"></a></td>
            </tr>
            <tr>
                <td style="text-align:center">Web Development</td>
                <td style="text-align:center">Android Development</td>
            </tr>
            <tr>
                <td><a href="/Projects/Coding.html"><img src ="/images/python_icon.png" alt="Python"></a></td>
                <td><a href="/Projects/Gamedev.html"><img src ="/images/Gamedev.png" alt="Gamedev"></a></td>
            </tr>
            <tr>
                <td style="text-align:center">Python Development</td>
                <td style="text-align:center">Game Development</td>
            </tr>
            </tbody>
        </table>
{% endblock %}