{% extends 'template.html' %}

{% set override = true %}

{% block title %}Projects{% endblock %}

{% block content %}
<div id="projects">
    <div class="row features">
        <div class="col-sm-6">
            <div class="panel gold">
                <a href="http://getbootstrap.com/" target="_blank" class="white-text">
                    <img src="images/Webdev.png" alt="web development" class="img-responsive">
                </a>
                <div class="panel-footer cornflowerblue">
                    <a href="http://getbootstrap.com/" target="_blank" class="white-text">Web Development</a>
                </div>
            </div><!-- end panel -->
        </div><!-- end feature -->

        <div class="col-sm-6">
            <div class="panel gold">
                <a href="http://getbootstrap.com/" target="_blank" class="white-text">
                    <img src="images/android_icon.png" alt="android development" class="img-responsive">
                </a>
                <div class="panel-footer cornflowerblue">
                    <a href="http://getbootstrap.com/" target="_blank" class="white-text">Android Development</a>
                </div>
            </div><!-- end panel -->
        </div><!-- col-sm-6 -->
    </div><!-- end row features -->
    <div class="row features">
        <div class="col-sm-6">
            <div class="panel gold">
                <a href="http://getbootstrap.com/" target="_blank" class="white-text">
                    <img src="images/ArduinoLogo.png" alt="arduino development" class="img-responsive">
                </a>
                <div class="panel-footer cornflowerblue">
                    <a href="http://getbootstrap.com/" target="_blank" class="white-text">
                        Arduino Programming
                    </a>
                </div>
            </div><!-- end panel -->
        </div><!-- end feature -->

        <div class="col-sm-6">
            <div class="panel gold">
                <a href="http://getbootstrap.com/" target="_blank" class="white-text">
                    <img src="images/Gamedev.png" alt="game development" class="img-responsive">
                </a>
                <div class="panel-footer cornflowerblue">
                    <a href="http://getbootstrap.com/" target="_blank" class="white-text">Game Development</a>
                </div>
            </div><!-- end panel -->
        </div><!-- col-sm-6 -->
    </div><!-- end row features -->
</div><!-- id="projects" -->
{% endblock %}
