{% extends 'template.html' %}

{% block title %}Reply{% endblock %}

{% block head %}
<script src="/js/bootstrap3-wysihtml5.all.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap3-wysihtml5.min.css">
{% endblock %}

{% block content %}
<h1>Reply</h1>
<form action="reply" method="post">
    <textarea class="textarea" name="message" placeholder="Enter text ..." style="width: 100%; height: 300px; font-size: 14px; line-height: 18px;"></textarea> <br>
    <input type="submit" value="Post"/>
</form>
<script>
  $('.textarea').wysihtml5({
    toolbar: {
      fa: false
    }
  });
</script>
{% endblock %}
