{% extends 'template.html' %}

{% set override = true %}

{% block title %}Resume{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2 hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="career.html" class="maroon pill">Career Planning</a></li>
            <li><a href="resume.html" class="maroon pill">Resume</a></li>
            <li><a href="phone_interview.html" class="maroon pill">Phone Interview</a></li>
        </ul>
    </div> <!-- class="col-sm-2" -->
    <div class="col-sm-2 visible-xs">
        <ul class="nav nav-pills" >
            <li class="dropdown">
                <a class="dropdown-toggle active maroon pills" data-toggle="dropdown" href="career.html">Career Planning
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="maroon pill" href="resume.html">Resume</a></li>
                    <li><a class="maroon pill" href="phone_interview.html">Phone Interview</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-sm-10 content">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="blue-text"><strong>HOW TO CREATE A JOB WINNING RESUME</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body content">
                        <p>
                            The resume is your most important job search tool. Your resume should effectively summarize
                            your education, experiences, and accomplishments in a way that demonstrates your
                            qualifications for the type of position you are seeking.  Your resume may have a variety of
                            sections, but should include the following sections: <i> Objective, Summary of
                            Qualifications, Education, Work, Experience and Activities.</i><br />
                        </p>
                        <p>
                            In developing a resume you are encouraged to:<br/>
                            - Pay careful attention to spelling, grammar, punctuation, and writing style.<br />
                            - Organize information in a logical fashion.<br />
                            - Keep descriptions clear and to the point.<br />
                            - Limit to one page if possible.<br />
                            - Use a simple,easy to use font.<br /><br />
                            Use a good, high quality, 100% bond paper that is white or off-white.  Do no print on both
                            sides of the page.  Include your references on a separate page. Remember, your resume is
                            your introduction to who you are and what skills you can offer an employer!
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseOne -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="blue-text"><strong>STEP 1: GETTING STARTED</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body content">
                        <p>
                            A resume is a professional reflection of you as a potential employee.  The goal is to
                            showcase confidence in your ability to fulfill the qualifications of the position for which
                            you are applying.  Follow these eight steps to create a more effective resume.
                        </p>
                        <h4>Step 1: Getting Started</h4>
                        <p>
                            <strong>How do you get started?</strong> You should begin your resume with a heading that
                            includes your name, address, phone number and email address.  You may want to include a
                            permanent address and alternate contact information. Be sure to include a zip code and
                            telephone area codes.
                        </p>
                        <p>
                            <strong>What is your objective?</strong> Prepare a brief, clear statement stating the type
                            of work you are seeking, the field in which you are interested, and the skills and strengths
                            you bring to the organization.
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseTwo -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="blue-text"><strong>STEP 2: INVENTORY YOUR EXPERIENCE</strong></span>
                        </a>
                    </h4>
                </div><!-- end headingThree -->
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body content">
                        <p>
                            <strong>What have you learned?</strong> The <i> Education</i> section highlights the
                            knowledge you have acquired, and can include training, certifications, or licensure.  List
                            all degrees earned (or date to be earned), majors, concentrations, and institutions. List
                            the degree title before the institution name.  You may also want to include your GPA
                            (especially if your cumulative GPA is 3.0 or highter), relevant coursework, academic honors,
                            study abroad experience or the percent of college expenses you have earned.  Dean's list,
                            honor societies, and academic awards may all be listed, but if you have many activities and
                            awards you may want to include tehm in their own honors section.
                        </p>
                        <p>
                            <strong>What have you done?</strong> The <i> Work Experience</i> section highlights the your
                            (paid or unpaid) work-related accomplishments.  Employers want to know what you have done and
                            what experience you have that is worthy of consideration.  Experience includes full-time jobs,
                            academic research projects, internships or co-op positions, part-time jobs,or volunteer work.
                            When describing each experience, give the position, title of organization, city, state, and
                            dates employed. Use action verbs to begin each statement describing your accomplishments and
                            duties in the job.  Quantify people, products, and profits if possible.
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseThree -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="blue-text"><strong>STEP 3: IDENTIFY YOUR SKILLS</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body content">
                        <p>
                            Skills and competencies can be included in your <i>Summary of Qualifications.</i> These
                            should be supported by the <i>Eduction and Experience</i> sections.  There are three
                            different tyupes of skills you can include in your <i>Summary of Qualifications.</i><br />
                        </p>
                        <ul>
                            <li><i>Technical/Professional Skills</i>: Skills performed in a job, task or class, acquired
                                by reading, training, or education.  For example. "Proficient in Unix, Oracle, Oas LAN."
                                <br/></li>
                            <li><i>Functional Skills:</i> Skills related to people, information, or things transferable
                                from one field or occupation to another.  Be able to identify several strengths in the
                                categories of data (organizing, problem-solving, creating), people (communicating,
                                supervising, teaching), and things (maintaining, operating, coordinating).<br /></li>
                            <li><i>Personal/Adaptive Skills:</i> skills that represent your stily of working coordinated
                                with your personal traits.  For example: "Patient, creative, persistent, and energetic
                                employee."</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseFour -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <span class="blue-text"><strong>STEP 4: MATCH YOUR EXPERIENCE AND SKILLS WITH AN EMPLOYERS
                            NEEDS</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body content">
                        <p>
                            The content of your resume will change between applications to different jobs.  Take care to
                            mention skills that you possess thatt one required for the particular job to which you are
                            applying.  Additionally, change teh wording of experiences and skills to match the type of
                            position for which you are working.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseFive -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <span class="blue-text"><strong>STEP 5: ORGANIZE YOUR RESUME EFFECTIVELY</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body content">
                        <p>
                            Organize your resume in a way that reflect your best self. Name and objective should always
                            be first; however, you should organize what is the most important to you (and to your
                            targeted employer) from teh top of the page down.  Keep in mind that additional categories
                            can be crated to represent your various strengths.  Some additional sections include:
                            <i>Honors/Awards, Leadership Activities, Relevant Skills and Experience, Special Interests,
                                and Accomplishments.</i> If one area ooutweights another as an asset, it should come before
                            other sections.
                        </p>
                        <p>
                            References should always be presented on a seperate page.  Prepare the reference page with
                            the name, title, name of organization where teh reference works, address, telephone number
                            and email address of each reference.  make sure that your references are aware that you have
                            include them on your list.  On your resume, yu can indicate <i>References Available Upon
                            Request</i> at the bottom of the page.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseSix -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            <span class="blue-text"><strong>STEP 6: CREATING YOUR DRAFT</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body content">
                        <p>
                            <strong>Length</strong> Your resume should be easy to read; if it is too lengthy or jumbled,
                            your potential employer may disregard it.  Most undergraduates should keep their resume to
                            one page, but a two-page resume is an option for job seekers with more experience.  if you
                            are leaving out vital information because you want to keep your resume to one page, add a
                            second page.  Be sure to include your name in the second page.
                        </p>
                        <p>
                            <strong>Phrases</strong> Use brief yet descriptive phrases rather than sentences.
                        </p>
                        <p>
                            <strong>Format</strong> Balance the layout by making all four margins equal.  Your resume
                            should be visually pleasing at first glance.  White space helps important information stand
                            out to the reader.
                        </p>
                        <p>
                            <strong>Production</strong> use good quality 100% bond paper in a conservative color such
                            as white, gray, or beige.
                        </p>
                        <p>
                            <strong>Verbs</strong> Describe your skills, abilities, and accomplishments using action
                            verbs.  use present tense for current duties and past tense for prior tasks.  do not include
                            first person pronouns like "I" or "my".
                        </p>
                        <p>
                            A few useful action verbs can be used to describe an abundane of job skils:
                        </p>
                        <p>
                            <strong>Management Skills</strong>
                        </p>
                            <ul>
                                <li>administered</li>
                                <li>executed</li>
                                <li>assigned</li>
                                <li>improved</li>
                                <li>attained</li>
                                <li>increased</li>
                                <li>delegated</li>
                                <li>oversaw</li>
                                <li>developed</li>
                                <li>produced</li>
                                <li>established</li>
                                <li>supervised</li>
                            </ul>
                        <p>
                            <strong>Communication Skills</strong>
                        </p>
                            <ul>
                                <li>addressed</li>
                                <li>negotiated</li>
                                <li>composed</li>
                                <li>promoted</li>
                                <li>directed</li>
                                <li>reconciled</li>
                                <li>explained</li>
                                <li>resolved</li>
                                <li>formulated</li>
                                <li>translated</li>
                                <li>mediated</li>
                                <li>wrote</li>
                            </ul>
                        <p>
                            <strong>Research Skills</strong>
                        </p>
                            <ul>
                                <li>analyzed</li>
                                <li>investigated</li>
                                <li>clarified</li>
                                <li>organized</li>
                                <li>conducted</li>
                                <li>researched</li>
                                <li>diagnosed</li>
                                <li>reviewed</li>
                                <li>examined</li>
                                <li>solved</li>
                                <li>identified</li>
                                <li>surveyed</li>
                            </ul>
                        <p>
                            <strong>Technical Skills</strong>
                        </p>
                            <ul>
                                <li>adapted</li>
                                <li>maintained</li>
                                <li>applied</li>
                                <li>operated</li>
                                <li>calculated</li>
                                <li>repaired</li>
                                <li>designed</li>
                                <li>solved</li>
                                <li>devised</li>
                                <li>upgraded</li>
                                <li>fabricated</li>
                                <li>utilized</li>
                            </ul>
                        <p>
                            <strong>Teaching Skills</strong>
                        </p>
                            <ul>
                                <li>advised</li>
                                <li>facilitated</li>
                                <li>coordinated</li>
                                <li>guided</li>
                                <li>enabled</li>
                                <li>informed</li>
                                <li>encouraged</li>
                                <li>instructed</li>
                                <li>evaluated</li>
                                <li>stimulated</li>
                                <li>explained</li>
                                <li>tutored</li>
                            </ul>
                        <p>
                            <strong>Financial Skills</strong>
                        </p>
                            <ul>
                                <li>administered</li>
                                <li>managed</li>
                                <li>allocated</li>
                                <li>marketed</li>
                                <li>appraised</li>
                                <li>planned</li>
                                <li>balanced</li>
                                <li>projected</li>
                                <li>computed</li>
                                <li>reconciled</li>
                                <li>estimated</li>
                                <li>reduced</li>
                            </ul>
                        <p>
                            <strong>Creative Skills</strong>
                        </p>
                            <ul>
                                <li>created</li>
                                <li>integrated</li>
                                <li>composed</li>
                                <li>introduced</li>
                                <li>founded</li>
                                <li>originated</li>
                                <li>initiated</li>
                                <li>performed</li>
                                <li>instituted</li>
                                <li>revitalized</li>
                                <li>invented</li>
                                <li>shaped</li>
                            </ul>
                        <p>
                            <strong>Helping Skills</strong>
                        </p>
                            <ul>
                                <li>advocated</li>
                                <li>familiarized</li>
                                <li>aided</li>
                                <li>motivated</li>
                                <li>assisted</li>
                                <li>referred</li>
                                <li>demonstrated</li>
                                <li>represented</li>
                                <li>educated</li>
                                <li>resolved</li>
                                <li>expedited</li>
                                <li>supported</li>
                            </ul>
                        <p>
                            <strong>Administrative/Clerical or Detail Skills</strong>
                        </p>
                            <ul>
                                <li>approved</li>
                                <li>implemented</li>
                                <li>arranged</li>
                                <li>prepared</li>
                                <li>compiled</li>
                                <li>processed</li>
                                <li>distributed</li>
                                <li>retrieved</li>
                                <li>executed</li>
                                <li>tabulated</li>
                                <li>generated</li>
                                <li>validated</li>
                            </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseSeven -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingEight">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            <span class="blue-text"><strong>STEP 7: ASK FOR COMMENTS ON YOUR RESUME</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body content">
                        <p>
                            Always get a second opinion on your resume.  You know your intentions, but your wording
                            might not be clear.
                        </p>
                        <p>
                            A second opinion can help you correct mistakes before a potential employer does. Second
                            opinions can come from a 24-hour critique or 48-hour online critique at Career Services or
                            from a personal appointment with a Career Counselor. A friend, advisor, employer, or
                            professor, can also offer comments on your resume.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseEight -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingNine">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            <span class="blue-text"><strong>STEP 8: EVALUATE YOUR RESUME</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body content">
                        <p>
                            How does it look?  Here is a checklist to help you evaluate:
                        </p>
                            <strong>Content</strong>
                        <ul>
                            <li>Content is directly related to your job objective</li>
                            <li>name is at the top of the page and highlighted by large font</li>
                            <li>Descriptions are action verbs with a consistent verb tense;<br/>
                                current job is in present tense while past jobs are in past tense</li>
                            <li>Repetition if words or phrases is kept to a minimum</li>
                            <li>Capitalization, punctuation, and date formats are consistent</li>
                            <li>There are no typos or spelling errors and grammar is correct</li>
                            <li>There is a rationale for each piece of information included</li>
                        </ul>
                            <strong>Organization</strong>
                        <ul>
                            <li>The best assets - whether education, experience, or skills - are listed first</li>
                            <li>The document is easily reviewed; categories are clear and text is indented when
                            needed</li>
                            <li>The dates of employement are easy to find and are in a consistent format</li>
                            <li>Listings in different sections run from most recent to least recent</li>
                        </ul>
                            <strong>Format/Design</strong>
                        <ul>
                            <li>Bold text and capitalization are used minimally and consistently</li>
                            <li>Margins and line spacing keep the page from looking too jumbled or crowded</li>
                            <li>Spacing and font size are consistent</li>
                            <li>Font is easy to ready and no smaller than 10 point size (preferably not smaller
                            than 11 point)</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseNine -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingTen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            <span class="blue-text"><strong>RESUME EXAMPLE</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body content">
                        <p> Sample design only. Please Consult a Career Counselor to create your best resume.
                            Resume is printed on quality, 100% bond paper, 8.5 x 11 inches.  Fit resume into one
                            page. Avoid typos. Proof thoroughly.
                        </p>
                        <h3>Your Name in 18 Point, Bold</h3>
                        <p>
                        Local Address, Apartment, City, State, Zip , 512-555-555, E-mail@txstate.edu<br/>
                        Permanent Address(Optional),City, State, Zip , 512-555-555, E-mail@hotmail.com
                        </p>
                        <hr style="border-color:black">

                        <table>
                            <tbody>
                                <tr>
                                    <td><strong>OBJECTIVE</strong><br /><br /></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td>Seeking type of position with type company, utilizing skills.
                                        (fill in the blanks.)<br /><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>SUMMARY OF<br/>QUALIFICATIONS</strong>
                                        <p style="font-size:8px">
                                            <i>(Optional - use only if your <br />
                                                qualifications can best be stated<br />
                                                can best be stated in this way <br />
                                                If not, rely more on 'Education' <br />
                                                and 'Experience' to promote <br />
                                                your skills.)
                                            </i>
                                        </p>
                                    </td>
                                    <td></td>
                                    <td>
                                        - List 4 to 4 of your most relevant qualification in statement form<br />
                                        - Be prepared to illustrate thise qualities in an interview. Some Examples:<br />
                                        - Experienced shift manager, supervising 5 staff in a small business operation<br />
                                        - Pro-active leader and communicator with strong attention to detail<br />
                                        - Demonstrated ability to seek answers and conceptualize the big picture<br /><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: justify"><strong>EDUCATION</strong>
                                        <br /><br /><br /><br /><br />
                                    </td>
                                    <td></td>
                                    <td>
                                        <strong>Exact Title of Degree with an Emphasis on Area</strong>
                                        Month and Year of Graduation <br />
                                        <strong>Minor</strong> (Optional)<br />
                                        <strong>Overall GPA or GPA in Major</strong> (Optional)<br />
                                        <strong>Relevant Coursework</strong>  (Optional): ___, ____, ___
                                        <br /><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: justify"><strong>HONORS</strong>
                                        <br /><br /><br />
                                    </td>
                                    <td></td>
                                    <td>
                                        <strong>Dean's List</strong>
                                        List number of semesters <br />
                                        <strong>Include any scholarships,</strong> Year Awarded<br /><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>EXPERIENCE</strong>
                                        <p style="font-size:8px">
                                            <i> List in recent chronological order
                                                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                                                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                                            </i>
                                        </p>
                                    </td>
                                    <td></td>
                                    <td>
                                        <strong>Intern</strong> Month(Abbreviate) Year - Month Year<br />
                                        Name of Business or Organization, City, State<br />
                                        - Offer additional knowledge, skills, and abilities to supplement the information
                                          included in your cover letter or summary (if used)<br />
                                        - Focus on accomplishments, not just job duties<br />
                                        - Provide as much detail about your responsibilities as possible<br /><br />
                                        <strong>Position Title in Bold</strong> Month(Abbreviate) Year - Month Year<br />
                                        Name of Business or Organization, City, State<br />
                                        - Offer additional knowledge, skills, and abilities to supplement the information
                                        included in your cover letter or summary (if used)<br />
                                        - Focus on accomplishments, not just job duties<br />
                                        - Provide as much detail about your responsibilities as possible<br /><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>ACTIVITIES</strong>
                                        <p style="font-size:8px">
                                            <i>If you have held leadership<br />
                                                pisition, describe accomplishments<br />
                                            </i>
                                        </p>
                                    </td>
                                    <td></td>
                                    <td>
                                        Professional Association, affiliations; if held leadership role, give the title
                                        (years of involvement are optional)<br /><br />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- panel-body content -->
                </div><!-- collapseTen -->
            </div><!-- panel panel-default -->

        </div><!-- panel-group -->
    </div> <!-- class="col-sm-10" -->
</div><!-- row -->

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10" >
        <div class="well" id="bigCallout">
            <h3 class="hidden-xs" >www.careerservices.txstate.edu</h3>
            <h4 class="visible-xs" >www.careerservices.txstate.edu</h4>
            <p>LBJ Student Center Suite 5-7.2 | 512.245.2645 | CareerServices@txstate.edu</p>
        </div><!-- end bigCallout-->
    </div><!-- end col-sm-10 -->
</div><!-- end row -->
{% endblock %}