{% extends 'template.html' %}

{% block title %}Roster{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Edit</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Paid?</th>
                <th>T-Shirt Size</th>
                <th>Points</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><a href="profile/{{ member.dataValues.member_id }}/edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td>{{ member.dataValues.fname }}</td>
                <td>{{ member.dataValues.lname }}</td>
                <td>{{ member.dataValues.email }}</td>
                <td>{% if member.dataValues.paid == 1 %} Yes {% else %} No {% endif %}</td>
                <td>{{ member.dataValues.tshirt_size }}</td>
                <td>{{ member.dataValues.points }}</td>
                <td>{% if member.dataValues.privs >= 1 %} Yes {% else %} No {% endif %}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
