<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Exe Home Page{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap-3.3.5.min.js"></script>
    <script src="/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/js/validate_join_form.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-3.3.5.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {# Templates can add their own stylesheets and scripts, if they wish. #}
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Login popup from Bootsnipp (http://bootsnipp.com/snippets/featured/clean-modal-login-form) -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form action="/login" method=post>
					<input type="text" id="lm-user" name="email" placeholder="Email">
					<input type="password" id="lm-password" name="password" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
				  <a href="/login/facebook" class="login loginmodal-submit loginmodal-fb">Log in with Facebook</a>
					
				  <div class="login-help">
					<a href="#" class='loginmodal-container-forgot'>Forgot Password?</a>
				  </div>
				</div>
			</div>
		  </div>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default maroon" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color:cornflowerblue" href="index.html">Texas State Exe</a>
                </div> <!-- class="navbar-header" -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/officers.html">Officers</a></li>

                        <li class="dropdown" id="projectsDropdown">
                            <a href="/projects.html" class="dropdown toggle" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">Projects
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" data-parent="#sub-nav" aria-labelledby="projectsDropdown">
                                <li><a href="/Projects/AppDev.html">Android</a></li>
                                <li><a href="/Projects/WebDev.html">Web</a></li>
                                <li><a href="/Projects/Gamedev.html">Game</a></li>
                                <li><a href="/Projects/Coding.html">Program</a></li>
                            </ul>
                        </li>

                        <li><a href="/events.html">Events</a></li>

                        <li class="dropdown" id="careerDropdown">
                            <a href="/career.html"  class="dropdown toggle" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">Career
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="careerDropdown">
                                <li><a href="career.html">Career Planning</a></li>
                                <li><a href="resume.html">Resume</a></li>
                                <li><a href="phone_interview.html">Phone Interview</a></li>
                            </ul>
                        </li>

                        <li><a href="/forums.html">Forums</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right:5px">
                        {% if session.fname %}
                        <li><a href="/profile/{{ session.fname }} {{ session.lname }}">
                            <img src="https://secure.gravatar.com/avatar/{{ session.email_hash }}?s=25&r=g&d=mm" class="img-circle">
                            {{ session.fname }} {{ session.lname }}</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        {% else %}
                        <li><a href="/join.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {% endif %}
                    </ul>
                </div><!-- lass="collapse navbar-collapse" id="navbar" -->
            </nav>
        </div>
            {# You can override the default body style, if you wish. #}
            {% if !override %}
                <div class="container content">
            {% endif %}
            {% block content %}
                <p>This is a paragraph</p>
            {% endblock %}
            {% if !override %}
                </div>
            {% endif %}
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 hidden-xs">
                    <small><em>Copyright &copy; Texas State University EXE Club</em></small>
                    <!-- external javascript_examples for validation -->
                    <script type="text/javascript"  src="/js/validation.js"></script>
                </div> <!--col-sm-2-->
                <div class="col-sm-2 hidden-xs">
                    <h6>Navigation</h6>
                    <ul class="list-unstyled xs-hide">
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/officers.html">Officers</a></li>
                        <li><a href="/projects.html">Projects</a></li>
                    </ul>
                </div> <!--col-sm-2-->
                <div class="col-sm-2 hidden-xs">
                    <br /><br />
                    <ul class="list-unstyled">
                        <li><a href="/events.html">Events</a></li>
                        <li><a href="/careers.html">Careers</a></li>
                        <li><a href="/forums.html">Forums</a></li>
                    </ul>
                </div> <!--col-sm-2-->
                                <div class="col-sm-4">
                    <h6>Contact Us</h6>
                    <a href="mailto:exe.txstate@edu.com"><span class="glyphicon glyphicon-envelope"></span></a>
                    <a href="mailto:exe.txstate@edu.com">mailto:exe.txstate@edu.com</a><br />
                </div> <!--col-sm-4-->
                <div class="col-sm-2">
                    <h6 >Follow Us</h6>
                    <a href="https://www.facebook.com/groups/TxstateEXE/"><img src ="/images/facebookicon.png"  alt="Facebook"> Facebook</a>
                </div>
            </div> <!-- class="row" -->
        </div> <!-- class="container" -->
    </footer>
</body>
</html>