{# You can override the default body style, if you wish. #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Exe Home Page{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap-3.3.5.min.js"></script>
    <script src="/js/validate_join_form.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-3.3.5.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <!-- Login popup from Bootsnipp (http://bootsnipp.com/snippets/featured/clean-modal-login-form) -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form action="/login" method=post>
					<input type="text" id="lm-user" name="user" placeholder="Email">
					<input type="password" id="lm-password" name="pass" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
					
				  <div class="login-help">
					<a href="#">Forgot Password?</a>
				  </div>
				</div>
			</div>
		  </div>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default maroon" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color:cornflowerblue" href="index.html">Texas State Exe</a>
                </div> <!-- class="navbar-header" -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/officers.html">Officers</a></li>
                        <li><a href="/projects.html">Projects</a></li>
                        <li><a href="/events.html">Events</a></li>
                        <li><a href="/career.html">Career</a></li>
                        <li><a href="/forums.html">Forums</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right:5px">
                        <li><a href="mailto:exe.txstate@edu.com"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a></li>
                        {% if name %}
                        <li><a href="#">{{ name }}</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        {% else %}
                        <li><a href="/join.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {% endif %}
                    </ul>
                </div><!-- lass="collapse navbar-collapse" id="navbar" -->
            </nav>
        </div>
            {% if !override %}
                <div class="container content">
            {% endif %}
            {% block content %}
                <p>This is a paragraph</p>
            {% endblock %}
            {% if !override %}
                </div>
            {% endif %}
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.facebook.com/groups/TxstateEXE/"><img src ="images/facebook_icon.png" class="img-responsive" alt="Facebook"></a></li>
                </ul>
                <!-- external javascript_examples for validation -->
                <script type="text/javascript" src="js/validation.js"></script>
            </div> <!-- class="row" -->
        </div> <!-- class="container" -->
    </footer>
</body>
</html>