{% extends 'template.html' %}

{% block title %}{{ thread.thread_name }} - EXE Forums{% endblock %}

{% block content %}
{% set count = 0 %}
{% for post in posts %}
{% set count = count+1 %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-1">
                #{{ count }}
                </div>
            <div class="col-sm-11" style = "text-align: right">
                {{ post.date.toDateString() }}
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="row">
            <div class="col-sm-2">
                <img src="https://secure.gravatar.com/avatar/2e26d153082b4619af32df054dc9d1c9?s=100&r=g&d=mm"/> <br>
                <a>{{ post.fname }} {{ post.lname }}</a><br>
                Posts: {{ post.post_count }}
            </div>
            <div class="col-sm-10">
                {% autoescape false %}
                {{ post.comment }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<a href="./reply" class="btn btn-primary">Reply</a>
{% endblock %}
