{% extends 'template.html' %}

{% block title %}{{ topic.topic_name }} - EXE Forums{% endblock %}

{% block content %}
<h1>{{ topic.topic_name }}</h1>
<div class="panel panel-primary">
    <div class="panel-heading"><a href="/forums.html">Forums</a> > {{ topic.topic_name }}</div>
    <div class="panel-content">
        <ul class="list-group">
        {% for thread in threads %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-8">
                    <h4 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        <a href = "./{{ thread.thread_id }}/">{{ thread.thread_name }}</a>
                    </h4>
                    <a href = "/profile/{{ thread.opfname }} {{ thread.oplname }}">{{ thread.opfname }} {{ thread.oplname }}</a>, {{ thread.opdatetime.toLocaleString() }}
                </div>
                <div class="col-sm-4">
                    Replies: {{ thread.post_count }}<br>
                    Last post on {{ thread.datetime.toLocaleString() }} by <a href = "/profile/{{ thread.fname }} {{ thread.lname }}">{{ thread.fname }} {{ thread.lname }}</a>
                </div>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
<a href="./newpost" class="btn btn-primary">New Post</a>
{% endblock %}
