{% extends '../template.html' %}

{% set override = true %}

{% block title %}Career Planning{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2 hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li><a class="maroon pill" href="/../career.html">Career Planning</a></li>
            <li><a class="maroon pill" href="resume.html">Resume</a></li>
            <li><a class="maroon pill" href="cover_letter.html">Cover Letter</a></li>
            <li><a class="maroon pill" href="elevator_speech.html">Elevator Speech</a></li>
            <li><a class="maroon pill" href="career_portfolio.html">Career Portfolio</a></li>
            <li><a class="maroon pill" href="employer_research.html">Employer Research</a></li>
            <li><a class="maroon pill" href="phone_interview.html">Phone Interview</a></li>
            <li><a class="maroon pill" href="job_interview.html">Job Interview</a></li>
        </ul>
    </div> <!-- class="col-sm-2" -->
    <div class="col-sm-2 visible-xs">
        <ul class="nav nav-pills" >
            <li class="dropdown">
                <a class="dropdown-toggle active maroon pill" data-toggle="dropdown" href="../career.html">Career Planning
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="maroon" href="resume.html">Resume</a></li>
                    <li><a class="maroon" href="cover_letter.html">Cover Letter</a></li>
                    <li><a class="maroon" href="elevator_speech.html">Elevator Speech</a></li>
                    <li><a class="maroon" href="career_portfolio.html">Career Portfolio</a></li>
                    <li><a class="maroon" href="employer_research.html">Employer Research</a></li>
                    <li><a class="maroon" href="phone_interview.html">Phone Interview</a></li>
                    <li><a class="maroon pill" href="job_interview.html">Job Interview</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-sm-10 content">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            <span class="blue-text"><strong>How to compose an effective cover letter</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body content">
                        <p>
                            A cover letter affords you opportunity to present yourself as the perfect candidate for a
                            particular job. Employers have needs, or they would not have openings.  You have
                            qualifications.  A cover letter helps to bridge the two.
                        </p>
                        <p>
                            Highlight your most attractive features as a potential employee.  A cover letter allows you
                            to select one or two accomplishments or special skills that reflect your suitability for a
                            desired position.
                        </p>
                        <p>
                            First, try to determine the appropriate person to whom you should address your cover letter.
                            The more high-ranking your contact, the better. Try to contact the department head in the
                            area in which you are interested.  Be sure to include your contact's name and title on both
                            your letter and envelope.
                        </p>
                        <p>
                            When should you send a cover letter?  Every time you make contact with a prospective
                            employer.  Unless the advertisement says "send resume only" be sure to include a cover letter.
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseOne -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo">
                            <span class="blue-text"><strong>Why create a cover letter</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body content">
                        <p>
                            A well-prepared resume is sometimes not enough to convince an employer that you should be
                            interviewed for a position.  As important as your resume is, your cover letter can direct
                            the reader's attention to aspects of your education and experience that are the most
                            relevant.
                        </p>
                        <p>
                            Cover letters demonstrate your knowledge of the organization you are targeting and explains
                            any part of your work history that needs clarification. A cover letter also demonstrates that
                            you can organize your thoughts and express yourself clearly and appropriately.  In a sense,
                            your cover letter reflects your communication skills and, to a certain degree, your
                            personality.
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseTwo -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="blue-text"><strong>What makes a cover letter?</strong></span>
                        </a>
                    </h4>
                </div><!-- end headingThree -->
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body content">
                        <p>
                            Cover letters are usually one page documents consisting of a beginning, middle, and end.
                            Typically, these three components can be conveyed in as little as three paragraphs.
                        </p>
                        <p>
                            The beginning is the introduction that expresses who you are and why you are writing.  This
                            paragraph should include any relevant contacts you have in the organization, and for which
                            specific position you are applying for.
                        </p>
                        <p>
                            The middle section can be one or two paragraphs, and is the sales pitch that describes what
                            you have to offer.  This section should also expand upon your interest in the position and
                            how your qualifications fit with it.
                        </p>
                        <p>
                            The concluding paragraph is the closing in which you propose steps for further action.  You
                            should request an interview or meeting.  Ask for the next step in the process, clearly and
                            without apology or arrogance.  View the sample in this handout for more specific guidelines
                            on how to develop the right cover letter format for you.
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseThree -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="blue-text"><strong>Content of the letter</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body content">
                        <h4>Address the company/employer</h4>
                        <p>
                            A cover letter should be addressed to the specific company and individual who will process
                            your application.  You can usually find this information through research or by calling the
                            company.
                        </p>
                        <h4>address the position</h4>
                        <p>
                            The letter should name the position for which you are applying, indicate your knowledge of
                            and interest in the company, and indicate your qualifications for the position.  You want
                            to answer questions such as:
                        </p>
                        <ul>
                            <li>Why do you want to work for this specific organization?</li>
                            <li>How do you fit in with this organization?</li>
                            <li>What are your qualifications for this particular position?</li>
                        </ul>

                        <h4>Address your assets</h4>
                        <p>Include</p>
                        <ul>
                            <li>Positive information supporting your hire</li>
                            <li>Information detailing your strengths, accomplishments, interests, and goals</li>
                            <li>Examples of productivity and performance</li>
                            <li>Benefits you can offer the employers</li>
                        </ul>
                        <p>Omit:</p>
                        <ul>
                            <li>Information unrelated to the position</li>
                            <li>Negative talk about your prior employer</li>
                            <li>Salary requirements or salary history</li>
                            <li>Personal information such as marital status, children, religious preference, etc.</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseFour -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive"
                           aria-expanded="false" aria-controls="collapseFive">
                            <span class="blue-text"><strong>Layout of the cover letter.</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body content">
                        <ul>
                            <li>Write the letter in your own words so that it sounds like you, not like something out
                            of a book</li>
                            <li>Your writing style should be clear, objective, and persuasive rather than narrative</li>
                            <li>Form paragraphs with a conversational though formal tone</li>
                            <li>Check spelling and ensure there are no typing errors</li>
                            <li>use 8.5" by 11", high quality paper that matches your resume.</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseFive -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix"
                           aria-expanded="false" aria-controls="collapseSix">
                            <span class="blue-text"><strong>Cover letter format</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body content">
                        <p>
                            Contacts Name<br />
                            Contacts Title<br />
                            Company Name<br />
                            Company Address<br />
                            City, State Zip Code<br /><br />
                            Dear Mr. or Ms Contact:<br />
                        </p>
                        <p>
                            Your opening paragraph should arouse the reader's interest.  Indicate why you are writing
                            the letter, the specific position or type of work for which you are applying, and how you
                            learned of the opening.  Give information to show your specific interest in this organization.
                        </p>
                        <p>
                            Your middle paragraph should create desire.  Give details of your background that show the
                            reader why you are a strong candidate.  Be as specific as possible about the kind of job you
                            want.  Mention why you are interested in the position, the organization, its products, or
                            its services.  Above all, indicate what you can do for the employer.  If you are a recent
                            graduate,explain how your academic background makes you a qualified candidate.  If you have
                            some practical work experience, point out your specific achievements or unique qualifications.
                            Do not make the reader guess the point you are trying to make.
                        </p>
                        <p>
                            In your closing paragraph, ask for action.  Indicate a desire for a personal interview.  You
                            may suggest alternative dates and times or simply advise employers of your flexibility as to
                            time and place.  State your phone number in the letter and offer any assistance that would
                            help achieve a speedy response, such as additional information.  A positive request is harder
                            to ignore than a vague hope.
                        </p>
                        <p>
                            Sincerely yours,<br /><br />
                            <i>Sign your name here</i><br /><br />
                            Print Your Name<br /><br />
                        </p>
                        <p>
                            Your Street Address<br />
                            City, State Zip Code<br />
                            Your Phone Number<br />
                            Your Email Address<br /><br />
                            Enclosure
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseSix -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSeven"
                           aria-expanded="false" aria-controls="collapseSeven">
                            <span class="blue-text"><strong>Cover letter example</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body content">
                        <p>
                            Mr. John M. Curtis<br />
                            Recruiting Coordinator<br />
                            HAL Corporation<br />
                            55 Washington Avenue<br />
                            New York, New York 10081<br /><br />
                            Dear Mr. Curtis:<br />
                        </p>
                        <p>
                            As an experiences computer programmer who is presently pursuing a master's degree in electrical
                            engineering at Renssalaer Polytechnic Institute, I am writing to request information about
                            possible summer employment opportunities with HAL. I am interested in a position that will
                            allow me to combine the talents I have developed in both computer programming and electrical
                            engineering.  However, as you can see from the attached resume, I have extensive experience
                            in many related fields, and i always enjoy a new challenge.
                        </p>
                        <p>
                            I believe that it is important for me to maintain a practical, real-world perspective while
                            developing my academic abilities.  I am proud that I financed my entire education through
                            scholarships and jobs related to my field of study.  My work has only enhanced my appreciation
                            for my education.  I found that I learn as much from my summer jobs as I do from my academic
                            studies. For example, last summer, while working for IBM in Boca Raton, Florida, I gained a
                            great deal of practical experience in the field of electronic circuit logic and river design.
                            When I returned to school in the fall, I enrolled in a Computer Hardware Design course and
                            found that I was thoroughly prepared.
                        </p>
                        <p>
                            Having said all this, I realize your first consideration in hiring must not be the potential
                            educational experience HAL can provide, but the skills and services an applicant has to
                            offer.  I hope the experience and education cited in my resume suggest I might be of service
                            to HAL.
                        </p>
                        <p>
                            I welcome the opportunity to discuss with you my qualification for a summer position at HAL
                            to assist you in meeting your present corporate needs. I will be available for hire from
                            May 14 through August 31, 2009.  Please let me know what summer employment is available at
                            HAL for someone with my eduction, experience, and interests.  I can be reached at
                            518-271-0000.  Thank you for your consideration.
                        </p>
                        <p>
                            Sincerely yours,<br /><br />
                            <i>Joan Doe</i><br /><br />
                            Joan Doe<br /><br />
                        </p>
                        <p>
                            1234 15th Street<br />
                            Troy, New York<br />
                            (518) 271-0000<br />
                            Jwdoe23@yahoo.com
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseSeven -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingEight">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            <span class="blue-text"><strong>Things to thing about before writing your cover letter</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body content">
                        <ul>
                            <li><strong>What is the prospective employer seeking?</strong><br />
                            Think about the skills, knowledge, and experiences that would be an asset in the job you are
                            targeting.</li>
                        </ul>
                        <ul>
                            <li><strong>What are your objectives?</strong><br />
                                Are you applying for a specific position, trying to get an interview, or hoping to spend
                                some time talking to someone who can discuss opportunities in general at that
                                organization? Be specific.</li>
                        </ul>
                        <ul>
                            <li><strong>What are the qualities that you bring to this employer or job</strong><br />
                                Think of at least two specific accomplishments you can mention that credit the qualities
                                you've identified.</li>
                        </ul>
                        <ul>
                            <li><strong>Why do you want to work for this particular organization?</strong><br />
                                What do you know about the organization? What is it about their products or services,
                                philosophy mission, goals, and needs that relates to your interests, background and
                                values?</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseEight -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingNine">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            <span class="blue-text"><strong>Useful action verbs</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body content">
                        <h4>Management Skills</h4>
                        <ul>
                            <li>adapted</li>
                            <li>delegated</li>
                            <li>oversaw</li>
                        </ul>
                        <h4>Communication Skills</h4>
                        <ul>
                            <li>addressed</li>
                            <li>explained</li>
                            <li>resolved</li>
                        </ul>
                        <h4>Technical Skills</h4>
                        <ul>
                            <li>administered</li>
                            <li>maintained</li>
                            <li>utilized</li>
                        </ul>
                        <h4>Teaching Skills</h4>
                        <ul>
                            <li>advised</li>
                            <li>coordinated</li>
                            <li>facilitated</li>
                        </ul>
                        <h4>Financial Skills</h4>
                        <ul>
                            <li>allocated</li>
                            <li>appraised</li>
                            <li>reduced</li>
                        </ul>
                        <h4>Creative Skills</h4>
                        <ul>
                            <li>created</li>
                            <li>invented</li>
                            <li>integrated</li>
                        </ul>
                        <h4>Helping Skills</h4>
                        <ul>
                            <li>advocated</li>
                            <li>resolved</li>
                            <li>supported</li>
                        </ul>
                        <h4>Organizational Skills</h4>
                        <ul>
                            <li>distributed</li>
                            <li>implemented</li>
                            <li>executed</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseNine -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingTen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            <span class="blue-text"><strong>Guidelines for writing a successful cover letter</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body content">
                        <ol>
                            <li>Tailor your cover letter as much as possible to target the reader and industry.</li>
                            <li>Focus more on what you have to offer the prospective employer than on what they can do
                            for you</li>
                            <li>Communicate focused career goals</li>
                            <li>Avoid saying anything negative about your employment situation or about your life in
                            general</li>
                            <li>Get to the point quickly and clearly</li>
                            <li>Back up claims with examples</li>
                            <li>Keep the letter to one page unless told otherwise by the prospective employer</li>
                            <li>Let other people read it and get their opinions before sending it</li>
                            <li>Keep easily accessible copies of all letters you mail, fax, or e-mail</li>
                            <li>Proofread for misspellings and typing errors</li>
                            <li>Use terms and phrases that are meaningful to the employer</li>
                            <li>Show concern, interest, and pride for your profession.  Demonstrate energy and
                            enthusiasm</li>
                            <li>Avoid stuffiness, and maintain a balance between professionalism and friendliness</li>
                            <li>Include information relevant to the job you are seeking</li>
                            <li>Utilize Career Services by getting your cover letter critiqued, or by using library
                            resources</li>
                        </ol>
                    </div><!-- panel-body content -->
                </div><!-- collapseTen -->
            </div><!-- panel panel-default -->

        </div><!-- panel-group -->
    </div> <!-- class="col-sm-10" -->
</div><!-- row -->

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10" >
        <div class="well" id="bigCallout">
            <h3 class="hidden-xs" >www.careerservices.txstate.edu</h3>
            <h4 class="visible-xs" >www.careerservices.txstate.edu</h4>
            <p>LBJ Student Center Suite 5-7.2 | 512.245.2645 | CareerServices@txstate.edu</p>
        </div><!-- end bigCallout-->
    </div><!-- end col-sm-10 -->
</div><!-- end row -->
{% endblock %}