{% extends '../template.html' %}

{% set override = true %}

{% block title %}Career Planning{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2 hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li><a class="maroon pill" href="/../career.html">Career Planning</a></li>
            <li><a class="maroon pill" href="resume.html">Resume</a></li>
            <li><a class="maroon pill" href="cover_letter.html">Cover Letter</a></li>
            <li><a class="maroon pill" href="elevator_speech.html">Elevator Speech</a></li>
            <li><a class="maroon pill" href="career_portfolio.html">Career Portfolio</a></li>
            <li><a class="maroon pill" href="employer_research.html">Employer Research</a></li>
            <li><a class="maroon pill" href="phone_interview.html">Phone Interview</a></li>
            <li><a class="maroon pill" href="job_interview.html">Job Interview</a></li>
        </ul>
    </div> <!-- class="col-sm-2" -->
    <div class="col-sm-2 visible-xs">
        <ul class="nav nav-pills" >
            <li class="dropdown">
                <a class="dropdown-toggle active maroon pill" data-toggle="dropdown" href="../career.html">Career Planning
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="maroon" href="resume.html">Resume</a></li>
                    <li><a class="maroon" href="cover_letter.html">Cover Letter</a></li>
                    <li><a class="maroon" href="elevator_speech.html">Elevator Speech</a></li>
                    <li><a class="maroon" href="career_portfolio.html">Career Portfolio</a></li>
                    <li><a class="maroon" href="employer_research.html">Employer Research</a></li>
                    <li><a class="maroon" href="phone_interview.html">Phone Interview</a></li>
                    <li><a class="maroon pill" href="job_interview.html">Job Interview</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-sm-10 content">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="blue-text"><strong>The phone interview</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body content">
                        <p>
                            The phone interview is increasingly used by companies and other organizations as an
                            economical and efficient means to begin the process of hiring new employees.<br />
                        </p>
                        <p>
                            Although similar to an in-person interview, the phone interview has several differences, but
                            presents you as a job-seeker with the opportunity to make a strong and positive first
                            impression on potential employers.
                        </p>
                        <p>
                            Consider these differences when preparing for a phone interview:<br />
                            - The time of the interview<br />
                            - Your surroundings<br />
                            - Knowing your strengths and weaknesses<br />
                            - How to project both your ideas and enthusiasm<br />
                            - Researching the employer and gathering questions to ask<br />
                            - Practicing answering to the various types of questions that might be asked<br /><br />
                            The phone interview is your first step to securing a personal interview.  Don't make the
                            mistake of not being prepared!
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseOne -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="blue-text"><strong>Why conduct a phone interview?</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body content">
                        <p>
                            Organizations use phone interviews for a variety of reasons.  The most common reasons to
                            conduct a phone interview with a prospective employee are:<br />
                            - To save time<br />
                            - To save money (specifically, travel expenses)<br />
                            - To pre-screen employees<br />
                            - To narrow down the search for potential face-to-face interviews
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseTwo -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                           aria-expanded="false" aria-controls="collapseThree">
                            <span class="blue-text"><strong>How does an interview on the phone differ from one
                                in-person?</strong>
                            </span>
                        </a>
                    </h4>
                </div><!-- end headingThree -->
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body content">
                        <p>
                            Phone interviews are similar to face-to-face interviews despite the method of communication.
                            Face-to-face communication consists of words, tone of voice, and body language.  Phone
                            communications consists only of the first two, so what you say and how you say it are
                            critical.  use positive words like "challenge, solution, success, we, I,our, your,
                            opportunity, can, good, between assignments." Avoid words like "can't, won't, don't, haven't,
                            unsuccessful, failure, problem, bad, unemployed, retired, fired." Your tone of voice should
                            be enthusiastic and positive.
                        </p>
                        <p>
                            One disadvantage of the phone interview is the loss of personal contact between you and the
                            interviewer - a vital part of selling yourself.  Due to this loss of contact, you sacrifice
                            all control over the interview because you are an ambiguous person on the phone.  You are
                            deprived of visual cues regarding the office environment, culture, and the interviewer's
                            attitude towards others.  The opportunity to gather a visual sense of the company, potential
                            co-workers, and the interviewer is lost.
                        </p>
                        <p>
                            A face-to-face interview does a great deal more than allow two people to have a conversation
                            about themselves and a career.  Within this process you have the opportunity to bond with the
                            interviewer and to portray the best way in which you talents can mesh with the needs of the
                            organization.
                        </p>
                        <p>
                            Keep in mind that there are some advantages to the phone interview.  Since the interviewer
                            can only focus on what is being said (and how it's being said), then he or she will listen
                            to your verbal expressions more intently than in a face-to-face interview.  Also, your have
                            the advantage of using any resources available while on the phone (copies of resume, job
                            description, etc.).
                        </p>
                    </div> <!-- end panel-body content -->
                </div><!-- collapseThree -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="blue-text"><strong>When should a phone interview occur?</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body content">
                        <p>
                            Hopefully, you will get the chance to correspond with an organization and set up a time to
                            conduct a phone interview at your convenience. However, they may call you out of the blue
                            based on a resume you sent months ago.  The call could start out with, "I just had a few
                            questions about your resume..." and extend into an hour.   Keep in mind that you have the
                            option to say, "Right now is not a good time, but can I call you back in an hour?" so that
                            you can collect yourself in order to give your best impression.  However, also keep in mind
                            that it is important to be prepared for a phone interview on a moment's notice.  You never
                            know when a recruiter might call.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseFour -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive"
                           aria-expanded="false" aria-controls="collapseFive">
                            <span class="blue-text"><strong>Where should a phone interview take place?</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body content">
                        <p>
                            Place yourself in a private location, free from intrusions and distractions.  Have your
                            phone in a quiet room away from radios, televisions, family and friends, or anything else
                            that may make noise or take your attention away from the task at hand.  Select a comfortable
                            place, preferably with a nice view to help you concentrate.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseFive -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix"
                           aria-expanded="false" aria-controls="collapseSix">
                            <span class="blue-text"><strong>How will a phone interview be evaluated?</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body content">
                        <p>
                            How you will be assessed in a phone interview differs from how you might be assesses during
                            an in-person interview.  Rather than making your first impression with body language and a
                            firm handshake, your first impression will be your initial greeting on the phone.  The
                            interviewer may ask him or herself the following question after the interview:<br />
                        <ul>
                            <li>Did you have an enthusiastic voice?</li>
                            <li>Did you answer questions vaguely or directly?</li>
                            <li>Did you research the organization weill, or did you ask simple questions?</li>
                            <li>Did you express interest in a second interview?</li>
                            <li>Did you follow up with a thank you letter?</li>
                            <li>Did you pursue this opportunity with a phone call or e-mail?</li>
                            <li>did you send supporting material (resume, portfolio, etc)?</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseSix -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSeven"
                           aria-expanded="false" aria-controls="collapseSeven">
                            <span class="blue-text"><strong>Preparing for the phone interview</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body content">
                        <p>
                            Prepare for the phone interview just like you would for an in-person interview.  Even shower
                            and dress up so that you will be in a professional and confident frame of mind.  You will
                            will not do as well in your phone interview if you are lying in bed or draped over a couch
                            in your pajamas.
                        </p>
                        <p>
                            <strong>Research the Organization and the Position</strong><br />
                            Before you conduct the interview, learn as much about the organization and position to which
                            you are applying.  Visit the organization's website.  Analyze the job description and try
                            to match your experiences, interests, and abilities to what they are seeking.
                        </p>
                        <p>
                            <strong>Know Yourself</strong><br />
                            Be prepared to discuss your strengths, weaknesses, educational and work experience, personal
                            goals, and values.  Read the job description thoroughly and anticipate questions that may
                            be asked of you.
                        </p>
                        <p>
                            <strong>Make a List of Questions to Ask</strong><br />
                            The questions you ask wil reveal much about your level of interest in the organization and
                            your level of preparation for the interview. Ask questions that demonstrate a genuine in
                            and knowledge of the organization and position.  Although each situation will warrant
                            specific inquiries, some suggested questions include:
                        </p>
                        <ul>
                            <li>What are the characteristics of a successful employee at your organization?</li>
                            <li>What factors make someone an ideal candidate at your organization?</li>
                            <li>What are tjr problems I will be expected to solve?</li>
                            <li>What is a traditional career path for this position?</li>
                            <li>Can you tell me something about how your career has developed working at your
                                organization?</li>
                            <li>How are employees evaluated?</li>
                            <li>Could you describe a typical week within your organization?</li>
                            <li>What are some of the reasons you believe people enjoy working at your organization?</li>
                            <li>Do you have any unanswered questions about my qualifications?</li>
                            <li>What are the next steps in the hiring process?</li>
                        </ul>

                        <p>
                            <strong>Utilize your resources</strong><br />
                            Gather these tools near the phone for use during the interview:<br />
                        </p>
                        <ul>
                            <li>Resume and cover letter for this position</li>
                            <li>Pen and paper to take notes during the interview</li>
                            <li>Research you have conducted on the organization</li>
                            <li>Questions to ask about the organization and position</li>
                            <li>A loosely-written outline of points to make or items to cover as you talke about
                                the position</li>
                            <li>Comfort items: tissues, water, etc.</li>
                            <li>Job description</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseSeven -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingEight">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseEight"
                           aria-expanded="false" aria-controls="collapseEight">
                            <span class="blue-text"><strong>Types of answers to practice</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body content">
                        <h4> Behavioral Answers</h4>
                        <p>
                            The most common type of questions are behavioral.  These questions aim to determine how you
                            would operate on the job.  One strategy for answering behavior-based questions is to use the
                            <strong>STAR</strong> formula (<strong>S</strong>ituation, <strong>T</strong>ask,
                            <strong>A</strong>ction, <strong>R</strong>esponse). The formula ensures that you deliver a
                            complete and concise answer. For example:
                        </p>
                        <p>
                            <strong>Question</strong><br />
                            <i> Describe a time when you were a team member and someone fell behind.</i><br />
                            <strong>Answer</strong><br />
                            <strong>Situation</strong><i> I had been assigned to a team to build a canooe out of
                            concrete. One of our team members was not showing up for our lab sessions or doing his
                            assignments.</i><br />
                            <strong>Task</strong><i> To maintain a good relationship with him and to help him do the job,
                            I met with him in private.</i><br />
                            <strong>Action</strong><i> I explained to him the team's frustration and asked if there was
                            anything I could do to help. He told me was failing another class, so I found someone to
                            help him with that coursework.</i><br />
                            <strong>Result</strong><i> He was able to spend more time on our project and was also
                            grateful to me for helping him out.  we finished our project on time and received high
                            scores.</i>
                        </p>
                        <h4>Traditional Questions</h4>
                        <p> Traditional questions include questions that clarify points on your resume, evaluate your
                            accomplishments and goals, and assess your expectations of the organization. "Themes" also work
                            into these questions, as well as many opportunities for you to showcase your strengths. Some
                            traditional questions and themes include:</p>
                        <p>
                            <strong>Question</strong> Why do you want to work here?<br />
                            <strong>Theme</strong> Measure of knowledge of organization and interest in it.<br />
                            <strong>Question</strong> I have researched the leading organizations in this industry, and
                            yours seems to be the one that does the best job in terms of customer relations, encouraging
                            risk taking, and setting challenging goals. These qualities really appeal to me.
                        </p>
                        <h4>Difficult Questions</h4>
                        <p>Difficult questions are those that you are hoping they won't ask. For instance, if your
                            resume does not show continuous employment, you can expect to be asked to explain any gaps. In
                            order to answer these questions, you will need to come to terms with the issue at hand, see the
                            positive side of it, and demonstrate that you are eager to move on with your career
                        </p>

                    </div><!-- panel-body content -->
                </div><!-- collapseEight -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingNine">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseNine"
                           aria-expanded="false" aria-controls="collapseNine">
                            <span class="blue-text"><strong>During the phone interview</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body content">
                        <ul>
                            <li>Have a self-confident and enthusiastic voice</li>
                            <li>Smile as much as possible as this will create an enthusiastic tone of voice</li>
                            <li>Speak succinctly so that you are not rambling</li>
                            <li>Keep the conversation going with prepared questions</li>
                            <li>Do not eat, smoke, chew gum while on the phone</li>
                            <li>Speak directly into the phone so that you can be heard clearly</li>
                            <li>Do not take other calls while on the phone - try to turn off call waiting</li>
                            <li>Sit in an upright position or stand while talking - your voice will sound stronger</li>
                            <li>Avoid nervous habits that will create noise</li>
                            <li>Do not interrupt the viewer</li>
                            <li>Listen to what is said and asked and ask for clarification if needed</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseNine -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingTen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTen"
                           aria-expanded="false" aria-controls="collapseTen">
                            <span class="blue-text"><strong>Ending the conversation</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                    <div class="panel-body content">
                        <ul>
                            <li>Let the employer end the interview</li>
                            <li>Thank the employer for his/her time and reiterate your interest in the position</li>
                            <li>Find the next steps so that you can follow up appropriately/li>
                            <li>State that you would like to meet personally</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseTen -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingEleven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseEleven"
                           aria-expanded="false" aria-controls="collapseEleven">
                            <span class="blue-text"><strong>Follow up with the interviewer</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                    <div class="panel-body content">
                        <p>
                            Send a thank you letter to the interviewer as soon as possible to show your appreciation and
                            enthusiasm for the position. Make sure that the timetable of the hiring process and future
                            steps have been discussed so that you are aware of where you stand in the interview process.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseEleven -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingTwelve">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwelve"
                           aria-expanded="false" aria-controls="collapseTwelve">
                            <span class="blue-text"><strong>Prepare for the face-to-face interview</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                    <div class="panel-body content">
                        <p>
                            A phone interview may be all that is needed to convince your interviewer that you are the
                            right person for the job.  However, many organizations prefer to meet job seekers in person
                            before making any decisions. Consult with Career Services for help with face to face
                            interviews. we have many sources and can work with you during a taped practice interview to
                            assess your interviewing strengths and weaknesses.
                        </p>
                    </div><!-- panel-body content -->
                </div><!-- collapseEleven -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingThirteen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThirteen"
                           aria-expanded="false" aria-controls="collapseThirteen">
                            <span class="blue-text"><strong>Hints to help you transition to the in-person interview</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                    <div class="panel-body content">
                        <ul>
                            <li>Focus on what you can offer the organization</li>
                            <li>Offer new information if possible</li>
                            <li>Give new examples of what you have accomplished</li>
                            <li>Ask more specific questions</li>
                            <li>Let your research show</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseThirteen -->
            </div><!-- panel panel-default -->

            <div class="panel panel-default">
                <div class="panel-heading content" role="tab" id="headingFourteen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFourteen"
                           aria-expanded="false" aria-controls="collapseFourteen">
                            <span class="blue-text"><strong>During the in-person interview</strong></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                    <div class="panel-body content">
                        <ul>
                            <li>Arrive 5 to 10 minutes early</li>
                            <li>Express a positive and enthusiastic attitude</li>
                            <li>Pay attention to your body language</li>
                            <li>Show confidence without being arrogant</li>
                            <li>Open up to the interviewer so that he/she gets a glimpse of who you are</li>
                            <li>Be neatly groomed and display good hygiene</li>
                            <li>Dress accordingly and demonstrate good posture</li>
                            <li>Maintain good eye contact throughout the interview</li>
                            <li>Give a firm handshake before and after the interview</li>
                            <li>Maintain interviewer's pace and style of speech</li>
                            <li>End the interview with gratitude and enthusiasm for teh job in a closing statement</li>
                        </ul>
                    </div><!-- panel-body content -->
                </div><!-- collapseFourteen -->
            </div><!-- panel panel-default -->
        </div><!-- panel-group -->
    </div> <!-- class="col-sm-10" -->
</div><!-- row -->

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10" >
        <div class="well" id="bigCallout">
            <h3 class="hidden-xs" >www.careerservices.txstate.edu</h3>
            <h4 class="visible-xs" >www.careerservices.txstate.edu</h4>
            <p>LBJ Student Center Suite 5-7.2 | 512.245.2645 | CareerServices@txstate.edu</p>
        </div><!-- end bigCallout-->
    </div><!-- end col-sm-10 -->
</div><!-- end row -->
{% endblock %}